block content
	table#table-best_seller.table
		thead
			tr
				th.text-center(rowspan='2')
					strong ASIN
				th.text-center(rowspan='2')
					strong Product Name
				th.text-center(rowspan='2')
					strong Last Action
				th.text-center(rowspan='2')
					strong Has Best Seller
				th.text-center(rowspan='2')
					strong Amazon's Choice
				th.text-center(colspan='5')
					strong Change in Best Seller Badge
				th.text-center(rowspan='2')
					strong Days With Best-Seller
				th.text-center(rowspan='2')
					strong Days Without Best-Seller
			tr
				th.text-center
					strong Last Day
				th.text-center
					strong Last 7 Days
				th.text-center
					strong Last 14 Days
				th.text-center
					strong 4 Weeks
				th.text-center
					strong 4 Weeks +  
		tbody
			tr
				td.text-center B01NBHK5XX
				td.text-center
					| Install Centric ICGM12BNGM 2005-16 Class II Complete Installation Solution for Car Stereos
				td.text-center Yes
				td.text-center No
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center 1
				td.text-center 3
				td.text-center 5
				td.text-center 3
				td.text-center 6
				td.text-center 6
				td.text-center 9
			tr
				td.text-center B01EXS1NA0
				td.text-center New Domaine Shredded Latex Cooling pillow- Queen
				td.text-center Yes
				td.text-center No
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center 8
				td.text-center 5
				td.text-center 10
				td.text-center 9
				td.text-center 5
				td.text-center 8
				td.text-center 1
