block content
	table(id='table-amazon_sellers' class='table')
		thead
			tr
				th.text-left 
					strong Sellers
				th
					strong Last Day
				th
					strong Last 7 Days
				th
					strong Last 14 Days
				th
					strong 4 Weeks
				th
					strong 4 Weeks +
		tbody
			tr
				td.text-left Number of New Sellers
				td
					i.icon-check.text-success.p-1
				td
					i.icon-check.text-success.p-1
				td
				td
					i.icon-check.text-success.p-1
				td
					i.icon-check.text-success.p-1
			tr
				td.text-left Number of Active Sellers
				td
					i.icon-check.text-success.p-1
				td
					i.icon-check.text-success.p-1
				td
					i.icon-check.text-success.p-1
				td
				td
			tr
				td.text-left Number of Attrite Sellers
				td
					i.icon-check.text-success.p-1
				td
					i.icon-check.text-success.p-1
				td
					i.icon-check.text-success.p-1
				td
				td  
