block content
	table(id='table-amazon_sellers' class='table')
		thead
			tr
				th.text-center 
					strong Sellers
				th.text-center
					strong Last Day
				th.text-center
					strong Last 7 Days
				th.text-center
					strong Last 14 Days
				th.text-center
					strong 4 Weeks
				th.text-center
					strong 4 Weeks +
		tbody
			tr
				td.text-center Number of New Sellers
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
					i.icon-check.text-success.p-1
			tr
				td.text-center Number of Active Sellers
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
				td.text-center
			tr
				td.text-center Number of Attrite Sellers
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
				td.text-center  
