block content
	table#table-best_seller.table
		thead
			tr
				th.text-left(rowspan='2')
					strong ASIN
				th.text-left(rowspan='2')
					strong Product Name
				th(rowspan='2')
					strong Last Action
				th(rowspan='2')
					strong Has Best Seller
				th(rowspan='2')
					strong Amazon's Choice
				th(colspan='5')
					strong Change in Best Seller Badge
				th(rowspan='2')
					strong Days With Best-Seller
				th(rowspan='2')
					strong Days Without Best-Seller
			tr
				th
					strong Last Day
				th
					strong Last 7 Days
				th
					strong Last 14 Days
				th
					strong 4 Weeks
				th
					strong 4 Weeks +  
		tbody
			tr
				td.text-left.text-highlight B01NBHK5XX
				td.text-left
					| Install Centric ICGM12BNGM 2005-16 Class II Complete Installation Solution for Car Stereos
				td Yes
				td No
				td
					i.icon-check.text-success.p-1
				td 1
				td 3
				td 5
				td 3
				td 6
				td 6
				td 9
			tr
				td.text-left.text-highlight B01EXS1NA0
				td.text-left New Domaine Shredded Latex Cooling pillow- Queen
				td Yes
				td No
				td
					i.icon-check.text-success.p-1
				td 8
				td 5
				td 10
				td 9
				td 5
				td 8
				td 1
