block content
	table#table-buy_box.table
		thead
			tr
				th.text-left 
					strong Status
				th.text-left
					strong ASIN
				th
					strong Last Day
				th
					strong Last 7 Days
				th
					strong Last 14 Days
				th
					strong 4 Weeks
				th
					strong 4 Weeks +
		tbody
			tr
				td.text-left Currently Unavailable
				td.text-left.text-highlight B018E65WW2
				td
					i.icon-check.text-success.p-1
				td
					i.icon-check.text-success.p-1
				td
				td
					i.icon-check.text-success.p-1
				td
					i.icon-check.text-success.p-1
			tr
				td.text-left
					a(href='#') See All Buying Options
				td.text-left.text-highlight B01NBHK5XX
				td
					i.icon-check.text-success.p-1
				td
					i.icon-check.text-success.p-1
				td
					i.icon-check.text-success.p-1
				td
				td
