block content
	table#table-buy_box.table
		thead
			tr
				th.text-center
				th.text-center
					strong ASIN
				th.text-center
					strong Last Day
				th.text-center
					strong Last 7 Days
				th.text-center
					strong Last 14 Days
				th.text-center
					strong 4 Weeks
				th.text-center
					strong 4 Weeks +
		tbody
			tr
				td.text-left Currently Unavailable
				td.text-center B018E65WW2
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
					i.icon-check.text-success.p-1
			tr
				td.text-left
					a(href='#') See All Buying Options
				td.text-center B01NBHK5XX
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
				td.text-center
