block content
  table(id='table-best_seller' class='table')
    thead
      tr
        th.text-center(rowspan='2')
          strong ASIN
        th.text-center(rowspan='2')
          strong Product Name
        th.text-center(rowspan='2')
          strong Last Action
        th.text-center(rowspan='2')
          strong Has Best Seller
        th.text-center(rowspan='2')
          strong Amazon's Choice
        th.text-center(colspan='5')
          strong Change in Best Seller Badge
        th.text-center(rowspan='2')
          strong Days With Best-Seller
        th.text-center(rowspan='2')
          strong Days Without Best-Seller
      tr
        th.text-center
          strong Last Day
        th.text-center
          strong Last 7 Days
        th.text-center
          strong Last 14 Days
        th.text-center
          strong 4 Weeks
        th.text-center
          strong 4 Weeks +  
    tbody
      tr
        td.text-center ASIN123
        td.text-center Gained Best Seller
        td.text-center Yes
        td.text-center No
        td.text-center
          i.icon-check.text-success.p-1
        td.text-center 0
        td.text-center 5
        td.text-center 10
        td.text-center 10
        td.text-center 10
        td.text-center 8
        td.text-center 1
      tr
        td.text-center ASIN173
        td.text-center Gained Best Seller
        td.text-center Yes
        td.text-center No
        td.text-center
          i.icon-check.text-success.p-1
        td.text-center 0
        td.text-center 5
        td.text-center 10
        td.text-center 10
        td.text-center 10
        td.text-center 8
        td.text-center 1
      tr
        td.text-center ASIN023
        td.text-center Gained Best Seller
        td.text-center Yes
        td.text-center No
        td.text-center
          i.icon-check.text-success.p-1
        td.text-center 0
        td.text-center 5
        td.text-center 10
        td.text-center 10
        td.text-center 10
        td.text-center 8
        td.text-center 1
      tr
        td.text-center ASIN1203
        td.text-center Gained Best Seller
        td.text-center Yes
        td.text-center No
        td.text-center
          i.icon-check.text-success.p-1
        td.text-center 0
        td.text-center 5
        td.text-center 10
        td.text-center 10
        td.text-center 10
        td.text-center 8
        td.text-center 1
      tr
        td.text-center ASIN153
        td.text-center Gained Best Seller
        td.text-center Yes
        td.text-center No
        td.text-center
          i.icon-check.text-success.p-1
        td.text-center 0
        td.text-center 5
        td.text-center 10
        td.text-center 10
        td.text-center 10
        td.text-center 8
        td.text-center 1  
      
