block content
	p.lead.px-3.mb-0 Top Products with A+ Changes
	table#table-count_aplus.table(style='width: 100%')
		thead
			tr
				th.text-center(rowspan='2')
					strong ASIN
				th.text-center(rowspan='2')
					strong Product Name
				th.text-center(colspan='2')
					strong Has A+?
			tr
				th.text-center
					strong Yes
				th.text-center
					strong No    
		tbody
			tr
				td.text-center B01NBHK5XX
				td.text-center
					| Install Centric ICGM12BNGM 2005-16 Class II Complete Installation Solution for Car Stereos
				td.text-center
				td.text-center
					i.icon-check.text-success.p-1
			tr
				td.text-center B01EXS1NA0
				td.text-center New Domaine Shredded Latex Cooling pillow- Queen
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
