block content
	table#table-replenishment.table(style='width: 100%')
		thead
			tr
				th.text-left
					strong Replenishment Codes
				th
					strong PR
				th
					strong NP
				th
					strong OS
				th
					strong OB
				th
					strong NR
				th
					strong NS
		tbody
			tr
				td.text-left Products with Zero On-Hand
				td 5
				td 3
				td 2
				td 9
				td 7
				td 1
			tr
				td.text-left Products with Zero On-Order
				td 8
				td 0
				td 1
				td 3
				td 9
				td 5
			tr
				td.text-left Products with No Order in last 1 week
				td 3
				td 6
				td 8
				td 5
				td 0
				td 5
			tr
				td.text-left Products with No Order in last 2 weeks
				td 4
				td 3
				td 5
				td 1
				td 6
				td 2
			tr
				td.text-left Products with No Order in last 4 weeks
				td 10
				td 9
				td 2
				td 4
				td 7
				td 6
			tr
				td.text-left Products with No Order in last 3 months
				td 6
				td 0
				td 2
				td 3
				td 4
				td 2
			tr
				td.text-left Products with No Order in &gt; 12 months
				td 0
				td 0
				td 0
				td 0
				td 0
				td 0
	table#table-replenishment_product.table.m-0(style='width: 100%')
		thead
			tr
				th.text-left
					strong Product
				th.text-left
					strong Replenishment Codes
				th.cell-amount
					strong Prior Year $ Sales
				th
					strong Units on Hand
				th.cell-amount
					strong Current Year Sales
				th
					strong Last Ordered Date
		tbody
			tr
				td.text-highlight B01NBHK5XX
				td.text-left PR
				td.cell-amount $253,834
				td 152
				td.cell-amount $302,232
				td 24 May 2018 
			tr
				td.text-highlight B01EXS1NA0
				td.text-left PR
				td.cell-amount $453,545
				td 112
				td.cell-amount $398,564
				td 22 May 2018
