block content
	table#table-replenishment.table(style='width: 100%')
		thead
			tr
				th.text-center
					strong Replenishment Codes
				th.text-center
					strong PR
				th.text-center
					strong NP
				th.text-center
					strong OS
				th.text-center
					strong OB
				th.text-center
					strong NR
				th.text-center
					strong NS
		tbody
			tr
				td.text-center Products with Zero On-Hand
				td.text-center 5
				td.text-center 3
				td.text-center 2
				td.text-center 9
				td.text-center 7
				td.text-center 1
			tr
				td.text-center Products with Zero On-Order
				td.text-center 8
				td.text-center 0
				td.text-center 1
				td.text-center 3
				td.text-center 9
				td.text-center 5
			tr
				td.text-center Products with No Order in last 1 week
				td.text-center 3
				td.text-center 6
				td.text-center 8
				td.text-center 5
				td.text-center 0
				td.text-center 5
			tr
				td.text-center Products with No Order in last 2 weeks
				td.text-center 4
				td.text-center 3
				td.text-center 5
				td.text-center 1
				td.text-center 6
				td.text-center 2
			tr
				td.text-center Products with No Order in last 4 weeks
				td.text-center 10
				td.text-center 9
				td.text-center 2
				td.text-center 4
				td.text-center 7
				td.text-center 6
			tr
				td.text-center Products with No Order in last 3 months
				td.text-center 6
				td.text-center 0
				td.text-center 2
				td.text-center 3
				td.text-center 4
				td.text-center 2
			tr
				td.text-center Products with No Order in > 12 months
				td.text-center 0
				td.text-center 0
				td.text-center 0
				td.text-center 0
				td.text-center 0
				td.text-center 0
	table#table-replenishment_product.table.m-0(style='width: 100%')
		thead
			tr
				th.text-center
					strong Product
				th.text-center
					strong Replenishment Codes
				th.text-right
					strong Prior Year $ Sales
				th.text-center
					strong Units on Hand
				th.text-right
					strong Current Year Sales
				th.text-center
					strong Last Ordered Date
		tbody
			tr
				td.text-center B01NBHK5XX
				td.text-center PR
				td.text-right $253,834
				td.text-center 152
				td.text-right $302,232
				td.text-center 24 May 2018 
			tr
				td.text-center B01EXS1NA0
				td.text-center PR
				td.text-right $453,545
				td.text-center 112
				td.text-right $398,564
				td.text-center 22 May 2018
