block content
  p.lead.p-2.mb-0 Top Products with Page Variation Changes
  table(id='table-count_twister' class='table' style='width: 100%')
    thead
      tr
        th.text-center
          strong ASIN
        th.text-center
          strong Product Name
        th.text-center
          strong Last Day
        th.text-center
          strong Last 7 Days
        th.text-center
          strong Last 14 Days
        th.text-center
          strong 4 Weeks
        th.text-center
          strong 4 Weeks +
    tbody
      tr
        td.text-center ASIN1250
        td.text-center Lorem ipsum
        td.text-center
          i.icon-check.text-success.p-1
        td.text-center
          i.icon-check.text-success.p-1
        td.text-center
        td.text-center
          i.icon-check.text-success.p-1
        td.text-center
          i.icon-check.text-success.p-1
      tr
        td.text-center ASIN1251
        td.text-center Lorem ipsum
        td.text-center
          i.icon-check.text-success.p-1
        td.text-center
          i.icon-check.text-success.p-1
        td.text-center
          i.icon-check.text-success.p-1
        td.text-center
        td.text-center
