block content
	table#table-products_offer.table(style='width: 100%')
		thead
			tr
				th.text-left
					strong ASIN
				th
					strong Days without Offer
				th
					strong Last 7 Days
				th
					strong Last 14 Days
				th
					strong 4 Weeks
				th
					strong 4 Weeks +
		tbody
			tr
				td.text-left.text-highlight B01EXS1NA0
				td 4
				td
					i.icon-check.text-success.p-1
				td
				td
					i.icon-check.text-success.p-1
				td
					i.icon-check.text-success.p-1
			tr
				td.text-left.text-highlight B01BON4QAQ
				td 2
				td
					i.icon-check.text-success.p-1
				td
					i.icon-check.text-success.p-1
				td
					i.icon-check.text-success.p-1
				td  
			tr
				td.text-left.text-highlight B01NBHK5XX
				td 5
				td
				td
					i.icon-check.text-success.p-1
				td
					i.icon-check.text-success.p-1
				td
					i.icon-check.text-success.p-1
			tr
				td.text-left.text-highlight B018E65WW2
				td 4
				td
					i.icon-check.text-success.p-1
				td
					i.icon-check.text-success.p-1
				td
					i.icon-check.text-success.p-1
				td
