block content
	table#table-products_offer.table(style='width: 100%')
		thead
			tr
				th.text-center
					strong ASIN
				th.text-center
					strong Days without Offer
				th.text-center
					strong Last 7 Days
				th.text-center
					strong Last 14 Days
				th.text-center
					strong 4 Weeks
				th.text-center
					strong 4 Weeks +
		tbody
			tr
				td.text-center B01EXS1NA0
				td.text-center 4
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
					i.icon-check.text-success.p-1
			tr
				td.text-center B01BON4QAQ
				td.text-center 2
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center  
			tr
				td.text-center B01NBHK5XX
				td.text-center 5
				td.text-center
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
					i.icon-check.text-success.p-1
			tr
				td.text-center B018E65WW2
				td.text-center 4
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
