block content
	p.lead.px-3.mb-0 Top Products with A+ Changes
	table#table-count_aplus.table(style='width: 100%')
		thead
			tr
				th.text-left(rowspan='2')
					strong ASIN
				th.text-left(rowspan='2')
					strong Product Name
				th(colspan='2')
					strong Has A+?
			tr
				th
					strong Yes
				th
					strong No    
		tbody
			tr
				td.text-left.text-highlight B01NBHK5XX
				td.text-left
					| Install Centric ICGM12BNGM 2005-16 Class II Complete Installation Solution for Car Stereos
				td
				td
					i.icon-check.text-success.p-1
			tr
				td.text-left.text-highlight B01EXS1NA0
				td.text-left New Domaine Shredded Latex Cooling pillow- Queen
				td
					i.icon-check.text-success.p-1
				td
