block content
	p.lead.px-3.mb-0 Top Products with Page Variation Changes
	table#table-count_twister.table(style='width: 100%')
		thead
			tr
				th.text-left
					strong ASIN
				th.text-left
					strong Product Name
				th
					strong Last Day
				th
					strong Last 7 Days
				th
					strong Last 14 Days
				th
					strong 4 Weeks
				th
					strong 4 Weeks +
		tbody
			tr
				td.text-left.text-highlight B01NBHK5XX
				td.text-left
					| Install Centric ICGM12BNGM 2005-16 Class II Complete Installation Solution for Car Stereos
				td
					i.icon-check.text-success.p-1
				td
					i.icon-check.text-success.p-1
				td
				td
					i.icon-check.text-success.p-1
				td
					i.icon-check.text-success.p-1
			tr
				td.text-left.text-highlight B01EXS1NA0
				td.text-left New Domaine Shredded Latex Cooling pillow- Queen
				td
					i.icon-check.text-success.p-1
				td
					i.icon-check.text-success.p-1
				td
					i.icon-check.text-success.p-1
				td
				td
