block content
	p.lead.px-3.mb-0 Top Products with Image Changes
	table#table-count_image.table
		thead
			tr
				th.text-center
					strong ASIN
				th.text-center
					strong Product Name
				th.text-center
					strong Last Day
				th.text-center
					strong Last 7 Days
				th.text-center
					strong Last 14 Days
				th.text-center
					strong 4 Weeks
				th.text-center
					strong 4 Weeks +
		tbody
			tr
				td.text-center B01NBHK5XX
				td.text-center
					| Install Centric ICGM12BNGM 2005-16 Class II Complete Installation Solution for Car Stereos
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
					i.icon-check.text-success.p-1
			tr
				td.text-center B01EXS1NA0
				td.text-center New Domaine Shredded Latex Cooling pillow- Queen
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
					i.icon-check.text-success.p-1
				td.text-center
				td.text-center
