extends layout
block link
  -var selected = 'advertising';
block content
  include includes/header
  include includes/mobile-menu
  main.content.mt-2.container-fluid
    include includes/content-header
    +content-header('Advertising Overview')
    .row
      .col-12
          ul#tab-sales_trends.nav.nav-tabs(role='tablist')
            li.nav-item.text-uppercase
              a#tab-products.nav-link.active(data-toggle='tab' href='#tab-products-body' role='tab' aria-controls='products' aria-selected='true') AMS Advertising
            li.nav-item.text-uppercase
              a#tab-customer.nav-link(data-toggle='tab' href='#tab-customer-body' role='tab' aria-controls='customers' aria-selected='false') AAP Advertising
          #tab-sales_trends-body.tab-content.border
            // Section: Products tab
            #tab-products-body.container-fluid.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='tab-products-body')
              include includes/advertising/ams-advertising
            // Section: Customers tab  
            #tab-customer-body.container-fluid.tab-pane.fade(role='tabpanel' aria-labelledby='tab-customer-body')
              include includes/advertising/aap-advertising
  include includes/footer  
