extends layout

block content
  include includes/sidebar
  .page-container
    header.header.d-flex.align-items-center.pr-3.text-muted
      .header-left.d-flex.align-items-center.pl-3
        button.btn.navbar-toggle.text-mutedr.rounded-0
          i.icon-menu.icon-md
        h3.my-0.mx-3.font-weight-light Dashboard
      .header-right.ml-auto.d-flex.align-items-center
        .dropdown.show
          a#user-menu.btn.text-muted.dropdown-toggle.d-inline-flex.align-items-center.rounded-0(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | James Walter
            i.rounded.icon-user.text-primary.icon-md.ml-2
          .dropdown-menu(aria-labelledby='user-menu')
            a.dropdown-item(href='settings.html') My Profile
            a.dropdown-item(href='#') Log out
    main.content
  .overlay
