extends layout
block content
	.container.panel-forgot_pwd
		.row.align-items-center.h-100
			.col-md-6.offset-md-6.py-5
				.form-forgot_pwd.row.justify-content-center
					.col-lg-8
						img.mb-5.d-block.mx-auto.img-fluid(src='images/logo_praesto.png', alt='Praesto')
						form
							h1.h4.font-weight-light.mb-4.text-center FORGOT PASSWORD
							p.text-muted.text-center.mb-4
								| Please Enter your Registered email address below to send the secure password link to reset password
							.input-group.mb-4.mb-md-5
								.input-group-prepend
									span#email.input-group-text
										i.icon-envelope.icon-md.text-primary
								input.form-control(type='text', placeholder='Email', aria-label='Username', aria-describedby='email')
							a.btn.btn-primary.mx-auto.d-block.w-50.mb-4(href='reset-password.html' role='button') RESET
							a.d-block.text-center.text-dark(href='login.html') Back to Login
