extends layout
block link
  -var selected = 'keywords';
block content
  include includes/header
  include includes/mobile-menu
  main.content.mt-2.container-fluid
    // Section: Overview
    include includes/content-header
    +content-header('Keywords Overview')
