extends layout
block link
  -var selected = 'map';
block content
  include includes/header
  include includes/mobile-menu
  main.content.mt-2.container-fluid
    include includes/content-header
    +content-header('Map Overview')
    .border.p-4
      #chart-map
    .w-100.mb-4
    .row
      .col-sm-12.col-md-6
        include includes/map/top20-sellers
      .visiable-xs
      .col-sm-12.col-md-6
        include includes/map/top20-problem-products
    .row
      .col-sm-12.col-md-6
        include includes/map/across-the-web
  include includes/footer  
