extends layout
block link
	-var selected = 'product ranks';
block content
	include includes/header
	include includes/mobile-menu
	// Section: Main content
	main.content.mt-2.container-fluid
		include includes/content-header
		+content-header('Product Ranks Overview')
		.border.p-4.mb-4
			#chart-product_ranks
		// Section: Product Ranking
		.mb-4
			h2.h4.mb-2 Product Ranking
			table#table-product_ranks.table.m-0(style='width: 100%')
				thead
					tr
						th.text-center(rowspan='2')
							strong Products
						th.text-center(colspan='5')
							strong Average
					tr
						th.text-center Trailing 7 Days
						th.text-center Trailing 14 Days
						th.text-center Trailing 30 Days
						th.text-center Trailing 6 Months
						th.text-center Trailing 12 Months
				tbody
					tr
						td.text-center B018E65WW2
						td.text-center.text-success 132274
						td.text-center.text-danger 52366
						td.text-center.text-danger 41712
						td.text-center.text-success 75382
						td.text-center.text-success 61423
					tr
						td.text-center B01BON4QAQ
						td.text-center.text-danger 110470
						td.text-center.text-success 169553
						td.text-center.text-danger 150734
						td.text-center.text-success 196243
						td.text-center.text-success 165389

		.row.mb-4
			// Section: Top 20 Gainers - By Category - ASIN
			.col-xl-6.mb-4.mb-xl-0
				h2.h4.mb-2 Top 20 Gainers
				table#table-product_gainers.table.m-0(style='width: 100%')
					thead
						tr
							th.text-center
								strong Category
							th.text-center
								strong ASIN
							th.text-center
								strong Trailing 7 Days
							th.text-center
								strong Trailing 14 Days
							th.text-center
								strong Trailing 30 Days
							th.text-center
								strong Trailing 6 Months
							th.text-center
								strong Trailing 12 Months
					tbody
						tr
							td.text-center HPC
							td.text-center B018E65WW2
							td.text-center.text-success 15
							td.text-center.text-danger 18
							td.text-center.text-danger 17
							td.text-center.text-success 25
							td.text-center.text-danger 30
						tr
							td.text-center Deals
							td.text-center B01BON4QAQ
							td.text-center.text-danger 17
							td.text-center.text-danger 18
							td.text-center.text-danger 30
							td.text-center.text-success 15
							td.text-center.text-success 25

			// Section: Top 20 Losers - By Category - ASIN
			.col-xl-6
				h2.h4.mb-2 Top 20 Losers
				table#table-product_losers.table.m-0(style='width: 100%')
					thead
						tr
							th.text-center
								strong Category
							th.text-center
								strong ASIN
							th.text-center
								strong Trailing 7 Days
							th.text-center
								strong Trailing 14 Days
							th.text-center
								strong Trailing 30 Days
							th.text-center
								strong Trailing 6 Months
							th.text-center
								strong Trailing 12 Months
					tbody
						tr
							td.text-center Deals
							td.text-center B018E65WW2
							td.text-center.text-success 15
							td.text-center.text-danger 18
							td.text-center.text-danger 17
							td.text-center.text-success 25
							td.text-center.text-danger 30
						tr
							td.text-center HPC
							td.text-center B01BON4QAQ
							td.text-center.text-danger 17
							td.text-center.text-danger 18
							td.text-center.text-danger 30
							td.text-center.text-success 15
							td.text-center.text-success 25
		// Section: Category Analysis
		.row.mb-4
			.col-auto
				h2.h4.mb-2 Category Analysis
			.w-100.mb-2
			.col-sm-6  
				table#table-product_category.table.m-0(style='width: 100%')
					thead
						tr
							th.text-center
								strong Category Name
							th.text-center
								strong Number of Products
					tbody
						tr
							td.text-center HPC
							td.text-center 1
						tr
							td.text-center Deals
							td.text-center 1
	include includes/footer
