extends layout
block content
	.container.panel-reset_pwd
		.row.align-items-center.h-100
			.col-md-6.offset-md-6.py-4
				.form-reset_pwd.row.justify-content-center
					.col-lg-8
						img.mb-5.d-block.mx-auto.img-fluid(src='images/logo_praesto.png', alt='Praesto')
						form
							h1.h4.font-weight-light.mb-4.text-center RESET PASSWORD
							p.text-muted.text-center.mb-4 Email: user@praesto.com
							.input-group.mb-4
								.input-group-prepend
									span#newpwd.input-group-text
										i.icon-lock-closed.icon-md.text-primary
								input.form-control(type='text', placeholder='New Password', aria-label='New Password', aria-describedby='newpwd')
							.input-group.mb-4.mb-md-5
								.input-group-prepend
									span#confirmpwd.input-group-text
										i.icon-lock-closed.icon-md.text-primary
								input.form-control(type='text', placeholder='Confirm Password', aria-label='Confirm Password', aria-describedby='confirmpwd')
							a.btn.btn-primary.mx-auto.d-block.w-50.mb-4(href='login.html' role='button') SUBMIT
