extends layout
block link
  -var selected = 'sales';
block content
  include includes/header
  include includes/mobile-menu
  // Section: Main content
  main.content.mt-2.container-fluid
    // Section: Overview
    include includes/content-header
    +content-header('Sales Overview')
    .row.mb-2
      .col-md-6.col-xl-4.mb-4.mb-md-2
        .card.border.rounded-0
          .card-header.rounded-0.d-flex.justify-content-between.bg-white.p-2.border-bottom
            h6.mb-0.text-primary Total Customers
            i.icon-group.text-warning
          .card-body.text-center.p-2
            .form-row.text-muted.text-nowrap.justify-content-center
              .col-3.col-md.text-primary.border-right.mb-2.mb-md-0
                h5.mb-0 14
                small Customers
              .col-3.col-md.border-right.mb-2.mb-md-0
                h5.mb-0 $39
                small Avg. Sales
              .col-3.col-md.border-right.mb-2.mb-md-0
                h5.mb-0 1
                small Avg. Units
              .col-3.col-md.border-right.mb-2.mb-md-0
                h5.mb-0 $39
                small ASP
              .col-3.col-md.border-right.mb-2.mb-md-0
                h5.mb-0 $39
                small Total Sales
              .col-3.col-md.mb-2.mb-md-0
                h5.mb-0 $39
                small Total Units
      .col-md-6.col-xl-4.mb-4.mb-md-2
        .card.border.rounded-0
          .card-header.rounded-0.d-flex.justify-content-between.bg-white.p-2.border-bottom
            h6.mb-0.text-primary New Customers
            i.icon-group.text-warning
          .card-body.text-center.p-2
            .form-row.text-muted.text-nowrap.justify-content-center
              .col-3.col-md.text-primary.border-right.mb-2.mb-md-0
                h5.mb-0 12
                small Customers
              .col-3.col-md.border-right.mb-2.mb-md-0
                h5.mb-0 $40
                small Avg. Sales
              .col-3.col-md.border-right.mb-2.mb-md-0
                h5.mb-0 1
                small Avg. Units
              .col-3.col-md.border-right.mb-2.mb-md-0
                h5.mb-0 $40
                small ASP
              .col-3.col-md.border-right.mb-2.mb-md-0
                h5.mb-0 $39
                small Total Sales
              .col-3.col-md.mb-2.mb-md-0
                h5.mb-0 $39
                small Total Units
      .col-md-6.col-xl-4.mb-4.mb-md-2
        .card.border.rounded-0
          .card-header.rounded-0.d-flex.justify-content-between.bg-white.p-2.border-bottom
            h6.mb-0.text-primary Repeat Customers
            i.icon-group.text-warning
          .card-body.text-center.p-2
            .form-row.text-muted.text-nowrap.justify-content-center
              .col-3.col-md.text-primary.border-right.mb-2.mb-md-0
                h5.mb-0 2
                small Customers
              .col-3.col-md.border-right.mb-2.mb-md-0
                h5.mb-0 $35
                small Avg. Sales
              .col-3.col-md.border-right.mb-2.mb-md-0
                h5.mb-0 1
                small Avg. Units
              .col-3.col-md.border-right.mb-2.mb-md-0
                h5.mb-0 $35
                small ASP
              .col-3.col-md.border-right.mb-2.mb-md-0
                h5.mb-0 $39
                small Total Sales
              .col-3.col-md.mb-2.mb-md-0
                h5.mb-0 $39
                small Total Units
    // Section: Charts
    .row.mb-4
      .col-sm-6
        .border.p-2
          .btn-group(role='group' aria-label='Sales to Customers Chart')
            button.btn.rounded-0(type='button') Dollars
            button.btn.rounded-0(type='button') Units
          #chart-sales_customers
      .col-sm-6
        .border.p-2
          .btn-group(role='group' aria-label='Sales to Amazon')
            button.btn.rounded-0(type='button') Dollars
            button.btn.rounded-0(type='button') Units
          #chart-sales_amazon

    // Section: Sales Trends
    .row.mb-4.align-items-center
      .col-auto
        h4.mb-0 Sales Trends
        small.text-muted Last Updated: 05/26/2018 05:00 AM
      .col-auto
        label.datas1.toggle.has-text.d-block.text-right
          input(type='checkbox' checked)
          span.handle(data-on='Trailing 6 Weeks' data-off='Trailing 6 Months')
      .w-100.mb-4
      .col-12
        ul#tab-sales_trends.nav.nav-tabs(role='tablist')
          li.nav-item.text-uppercase
            a#tab-products.nav-link.active(data-toggle='tab' href='#tab-products-body' role='tab' aria-controls='products' aria-selected='true') Products
          li.nav-item.text-uppercase
            a#tab-customer.nav-link(data-toggle='tab' href='#tab-customer-body' role='tab' aria-controls='customers' aria-selected='false') Customers
        #tab-sales_trends-body.tab-content.border.py-4
          // Section: Products tab
          #tab-products-body.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='tab-products-body')
            include includes/sales/trends-products
          // Section: Customers tab  
          #tab-customer-body.tab-pane.fade(role='tabpanel' aria-labelledby='tab-customer-body')
            include includes/sales/trends-customers
    
    // Section: Geographic Trends
    .row.mb-4.align-items-center
      .col-auto
        h4.mb-0 Geographic Trends
        small.text-muted Last Updated: 05/26/2018 05:00 AM
      .w-100.mb-4
      .col-12
        .border.p-4
          .row
            .col-md-6
              .border.py-2.h-100
                #chart-sales_geographic
            .col-md-6
              .border.p-4
                table(id='table-sales_geography' class='table m-0')
    .row.mb-4.align-items-center
      .col-auto
        h4.mb-0 Conversion Metrics
        small.text-muted Last Updated: 05/26/2018 05:00 AM
      .col-auto
        label.datas2.toggle.has-text.d-block.text-right
          input(type='checkbox' checked)
          span.handle(data-on='Trailing 6 Weeks' data-off='Trailing 6 Months')  
      .w-100.mb-4
      .col-12
        .border.p-4
          include includes/sales/conversion-metrics
  include includes/footer
