block content
	table(id='table-inventory_trends' class='table m-0' style='width: 100%')
		thead
			tr
				th.text-center.border-bottom-0
					strong Products
				th.text-center(colspan='2')
					div
						strong Week 1 2018
					small 08-Apr - 14 Apr
				th.text-center(colspan='2')
					div
						strong Week 2 2018
					small 15-Apr - 21 Apr
				th.text-center(colspan='2')
					div
						strong Week 3 2018
					small 22-Apr - 28 Apr
				th.text-center(colspan='2')
					div
						strong Week 4 2018
					small 29-Apr - 05 May
				th.text-center(colspan='2')
					div
						strong Week 5 2018
					small 06-May - 12 May
				th.text-center(colspan='2')
					div
						strong Week 6 2018
					small 13-May - 19 May
				th.text-center(colspan='2')
					div
						strong Current Week
					small 20-May - 26 May
			tr
				th.border-top-0
					select.custom-select.form-control
						option(selected='') SKU
						option(value='1') ASIN
						option(value='2') Model
						option(value='2') Part
				th.text-right Sales($)
				th.text-center Units
				th.text-right Sales($)
				th.text-center Units
				th.text-right Sales($)
				th.text-center Units
				th.text-right Sales($)
				th.text-center Units
				th.text-right Sales($)
				th.text-center Units
				th.text-right Sales($)
				th.text-center Units
				th.text-right Sales($)
				th.text-center Units
			tr.total
				th.text-center Total
				th.text-right 413,488.00
				th.text-center 2,739
				th.text-right 411,903.50
				th.text-center 3,466
				th.text-right 410,154.65
				th.text-center 3,716
				th.text-right 410,154.65
				th.text-center 3,348
				th.text-right 423,789.15
				th.text-center 3,055
				th.text-right 431,605.90
				th.text-center 3,555
				th.text-right 383,898.15
				th.text-center 3,525
		tbody
			tr
				td.text-center
					div B018E65WW2
					.text-center Vs
					div Prior Yr / ASP
				td
					.py-2.border-bottom.text-right 158,244.00
					.py-2.text-right.text-danger 5%
				td
					.py-2.border-bottom.text-center 1954
					.py-2.text-center $8,045.79
				td
					.py-2.border-bottom.text-right 205,951.75
					.py-2.text-right.text-success 8%
				td
					.py-2.border-bottom.text-center 2705
					.py-2.text-center $16,250.25
				td
					.py-2.border-bottom.text-right 225,654.15
					.py-2.text-right.text-success 12%
				td
					.py-2.border-bottom.text-center 3021
					.py-2.text-center $26,244.12
				td
					.py-2.border-bottom.text-right 184,500.50
					.py-2.text-right.text-danger 1%
				td
					.py-2.border-bottom.text-center 2498
					.py-2.text-center $2046.00
				td
					.py-2.border-bottom.text-right 158,244.00
					.py-2.text-right.text-success 5%
				td
					.py-2.border-bottom.text-center 1954
					.py-2.text-center $8,045.79
				td
					.py-2.border-bottom.text-right 205,951.75
					.py-2.text-right.text-success 8%
				td
					.py-2.border-bottom.text-center 2705
					.py-2.text-center $16,250.25
				td
					.py-2.border-bottom.text-right 225,654.15
					.py-2.text-right.text-success 12%
				td
					.py-2.border-bottom.text-center 3021
					.py-2.text-center $26,244.12
			tr
				td.text-center
					div B01BON4QAQ
					.text-center Vs
					div Prior Yr / ASP
				td
					.py-2.border-bottom.text-right 255,244.00
					.py-2.text-right.text-success 6%
				td
					.py-2.border-bottom.text-center 785
					.py-2.text-center $15,541.79
				td
					.py-2.border-bottom.text-right 205,951.75
					.py-2.text-right.text-success 8%
				td
					.py-2.border-bottom.text-center 761
					.py-2.text-center $16,250.25
				td
					.py-2.border-bottom.text-right 184,500.50
					.py-2.text-right.text-danger 1%
				td
					.py-2.border-bottom.text-center 695
					.py-2.text-center $2046.00
				td
					.py-2.border-bottom.text-right 225,654.15
					.py-2.text-right.text-success 10%
				td
					.py-2.border-bottom.text-center 850
					.py-2.text-center $22,544.12
				td
					.py-2.border-bottom.text-right 265,545.15
					.py-2.text-right.text-success 12%
				td
					.py-2.border-bottom.text-center 1101
					.py-2.text-center $31,542.12
				td
					.py-2.border-bottom.text-right 225,654.15
					.py-2.text-right.text-danger 10%
				td
					.py-2.border-bottom.text-center 850
					.py-2.text-center $22,544.12
				td
					.py-2.border-bottom.text-right 158,244.00
					.py-2.text-right.text-danger 5%
				td
					.py-2.border-bottom.text-center 504
					.py-2.text-center $8,045.79
