block content
	table(id='table-inventory_trends' class='table m-0' style='width: 100%')
		thead
			tr
				th.border-bottom-0
					strong Products
				th(colspan='2')
					div
						strong Week 1 2018
					small 08-Apr - 14 Apr
				th(colspan='2')
					div
						strong Week 2 2018
					small 15-Apr - 21 Apr
				th(colspan='2')
					div
						strong Week 3 2018
					small 22-Apr - 28 Apr
				th(colspan='2')
					div
						strong Week 4 2018
					small 29-Apr - 05 May
				th(colspan='2')
					div
						strong Week 5 2018
					small 06-May - 12 May
				th(colspan='2')
					div
						strong Week 6 2018
					small 13-May - 19 May
				th(colspan='2')
					div
						strong Current Week
					small 20-May - 26 May
			tr
				th.border-top-0
					select.custom-select.form-control
						option(selected='') SKU
						option(value='1') ASIN
						option(value='2') Model
						option(value='2') Part
				th.cell-amount Sales($)
				th Units
				th.cell-amount Sales($)
				th Units
				th.cell-amount Sales($)
				th Units
				th.cell-amount Sales($)
				th Units
				th.cell-amount Sales($)
				th Units
				th.cell-amount Sales($)
				th Units
				th.cell-amount Sales($)
				th Units
			tr.total
				th Total
				th.cell-amount 413,488.00
				th 2,739
				th.cell-amount 411,903.50
				th 3,466
				th.cell-amount 410,154.65
				th 3,716
				th.cell-amount 410,154.65
				th 3,348
				th.cell-amount 423,789.15
				th 3,055
				th.cell-amount 431,605.90
				th 3,555
				th.cell-amount 383,898.15
				th 3,525
		tbody
			tr
				td.text-highlight
					div B018E65WW2
					.text-center Vs
					div Prior Yr / ASP
				td
					.py-2.border-bottom.cell-amount 158,244.00
					.py-2.cell-amount.text-danger 5%
				td
					.py-2.border-bottom 1954
					.py-2.cell-amount $8,045.79
				td
					.py-2.border-bottom.cell-amount 205,951.75
					.py-2.cell-amount.text-success 8%
				td
					.py-2.border-bottom 2705
					.py-2.cell-amount $16,250.25
				td
					.py-2.border-bottom.cell-amount 225,654.15
					.py-2.cell-amount.text-success 12%
				td
					.py-2.border-bottom 3021
					.py-2.cell-amount $26,244.12
				td
					.py-2.border-bottom.cell-amount 184,500.50
					.py-2.cell-amount.text-danger 1%
				td
					.py-2.border-bottom 2498
					.py-2.cell-amount $2046.00
				td
					.py-2.border-bottom.cell-amount 158,244.00
					.py-2.cell-amount.text-success 5%
				td
					.py-2.border-bottom 1954
					.py-2.cell-amount $8,045.79
				td
					.py-2.border-bottom.cell-amount 205,951.75
					.py-2.cell-amount.text-success 8%
				td
					.py-2.border-bottom 2705
					.py-2.cell-amount $16,250.25
				td
					.py-2.border-bottom.cell-amount 225,654.15
					.py-2.cell-amount.text-success 12%
				td
					.py-2.border-bottom 3021
					.py-2.cell-amount $26,244.12
			tr
				td.text-highlight
					div B01BON4QAQ
					.text-center Vs
					div Prior Yr / ASP
				td
					.py-2.border-bottom.cell-amount 255,244.00
					.py-2.cell-amount.text-success 6%
				td
					.py-2.border-bottom 785
					.py-2.cell-amount $15,541.79
				td
					.py-2.border-bottom.cell-amount 205,951.75
					.py-2.cell-amount.text-success 8%
				td
					.py-2.border-bottom 761
					.py-2.cell-amount $16,250.25
				td
					.py-2.border-bottom.cell-amount 184,500.50
					.py-2.cell-amount.text-danger 1%
				td
					.py-2.border-bottom 695
					.py-2.cell-amount $2046.00
				td
					.py-2.border-bottom.cell-amount 225,654.15
					.py-2.cell-amount.text-success 10%
				td
					.py-2.border-bottom 850
					.py-2.cell-amount $22,544.12
				td
					.py-2.border-bottom.cell-amount 265,545.15
					.py-2.cell-amount.text-success 12%
				td
					.py-2.border-bottom 1101
					.py-2.cell-amount $31,542.12
				td
					.py-2.border-bottom.cell-amount 225,654.15
					.py-2.cell-amount.text-danger 10%
				td
					.py-2.border-bottom 850
					.py-2.cell-amount $22,544.12
				td
					.py-2.border-bottom.cell-amount 158,244.00
					.py-2.cell-amount.text-danger 5%
				td
					.py-2.border-bottom 504
					.py-2.cell-amount $8,045.79
