block content
  table(id='table-inventory_trends' class='table m-0' style='width: 100%')
    thead
      tr
        th.text-center.border-bottom-0
          strong Products
        th(colspan='2').text-center
          div
            strong Week 1 2018
          div 08-Apr
        th(colspan='2').text-center
          div
            strong Week 2 2018
          div 15-Apr
        th(colspan='2').text-center
          div
            strong Week 3 2018
          div 22-Apr
        th(colspan='2').text-center
          div
            strong Week 4 2018
          div 29-Apr
        th(colspan='2').text-center
          div
            strong Week 5 2018
          div 06-May
        th(colspan='2').text-center
          div
            strong Week 6 2018
          div 13-May
        th(colspan='2').text-center
          div
            strong Current Week
          div 20-May
      tr
        th.border-top-0
          select.custom-select.form-control
            option(selected='') SKU
            option(value='1') ASIN
            option(value='2') Model
            option(value='2') Part
        th.text-right Sales($)
        th.text-center Units
        th.text-right Sales($)
        th.text-center Units
        th.text-right Sales($)
        th.text-center Units
        th.text-right Sales($)
        th.text-center Units
        th.text-right Sales($)
        th.text-center Units
        th.text-right Sales($)
        th.text-center Units
        th.text-right Sales($)
        th.text-center Units
      tr.total
        th.text-center Total
        th.text-right $67.00
        th.text-center 150.00
        th.text-right $260.00
        th.text-center 10
        th.text-right $467.00
        th.text-center 150.00
        th.text-right $160.00
        th.text-center 140
        th.text-right $675.00
        th.text-center 150.00
        th.text-right $650.00
        th.text-center 120
        th.text-right 630.00
        th.text-center 100
    tbody
      tr
        td.text-center
          div AMZ1290838
          div.text-center Vs
          div Prior Yr / ASP
        td
          div.py-2.border-bottom.text-right 50,000.00
          div.py-2.text-right.text-danger 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
        td
          div.py-2.border-bottom.text-right 500.75
          div.py-2.text-right.text-success 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
        td
          div.py-2.border-bottom.text-right 50,000.00
          div.py-2.text-right.text-danger 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
        td
          div.py-2.border-bottom.text-right 500.00
          div.py-2.text-right.text-success 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
        td
          div.py-2.border-bottom.text-right 50,000.00
          div.py-2.text-right.text-danger 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
        td
          div.py-2.border-bottom.text-right 500.00
          div.py-2.text-right.text-success 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
        td
          div.py-2.border-bottom.text-right 500.00
          div.py-2.text-right.text-success 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
      tr
        td.text-center
          div AMZ1290838
          div.text-center Vs
          div Prior Yr / ASP
        td
          div.py-2.border-bottom.text-right 50,000.00
          div.py-2.text-right.text-danger 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
        td
          div.py-2.border-bottom.text-right 500.00
          div.py-2.text-right.text-success 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
        td
          div.py-2.border-bottom.text-right 50,000.00
          div.py-2.text-right.text-danger 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
        td
          div.py-2.border-bottom.text-right 500.00
          div.py-2.text-right.text-success 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
        td
          div.py-2.border-bottom.text-right 50,000.00
          div.py-2.text-right.text-danger 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
        td
          div.py-2.border-bottom.text-right 500.00
          div.py-2.text-right.text-success 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
        td
          div.py-2.border-bottom.text-right 500.00
          div.py-2.text-right.text-success 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
      tr
        td.text-center
          div AMZ1290838
          div.text-center Vs
          div Prior Yr / ASP
        td
          div.py-2.border-bottom.text-right 50,000.00
          div.py-2.text-right.text-danger 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
        td
          div.py-2.border-bottom.text-right 500.00
          div.py-2.text-right.text-success 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
        td
          div.py-2.border-bottom.text-right 50,000.00
          div.py-2.text-right.text-danger 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
        td
          div.py-2.border-bottom.text-right 500.00
          div.py-2.text-right.text-success 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
        td
          div.py-2.border-bottom.text-right 50,000.00
          div.py-2.text-right.text-danger 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
        td
          div.py-2.border-bottom.text-right 500.00
          div.py-2.text-right.text-success 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
        td
          div.py-2.border-bottom.text-right 500.00
          div.py-2.text-right.text-success 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
      tr
        td.text-center
          div AMZ1290838
          div.text-center Vs
          div Prior Yr / ASP
        td
          div.py-2.border-bottom.text-right 50,000.00
          div.py-2.text-right.text-danger 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
        td
          div.py-2.border-bottom.text-right 500.00
          div.py-2.text-right.text-success 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
        td
          div.py-2.border-bottom.text-right 50,000.00
          div.py-2.text-right.text-danger 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
        td
          div.py-2.border-bottom.text-right 500.00
          div.py-2.text-right.text-success 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
        td
          div.py-2.border-bottom.text-right 50,000.00
          div.py-2.text-right.text-danger 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
        td
          div.py-2.border-bottom.text-right 500.00
          div.py-2.text-right.text-success 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
        td
          div.py-2.border-bottom.text-right 500.00
          div.py-2.text-right.text-success 17%
        td
          div.py-2.border-bottom.text-center 80
          div.py-2.text-center 150.00
