block content
  .row.star-review.justify-content-center
    .col-sm-6.col-md-4
      .review-content.card
        .card-header.d-flex.justify-content-md-between
          h5.card-title.mb-0 5 Star
          ul.rating.mb-0.p-0.d-inline-flex
            li.ml-1
              i.icon-star.icon-md
            li.ml-1
              i.icon-star.icon-md
            li.ml-1
              i.icon-star.icon-md
            li.ml-1
              i.icon-star.icon-md
            li.ml-1
              i.icon-star.icon-md
        .card-body.px-1.py-2
          ul.list-group
            li.ml-1.list-group-item.border 
              h6 Shows the quality plus time. 
              small By 
              a(href="#").card-link viswanadh chandra 
              small on 10 May 2016
              p It reflects the amount you put in it. Solid built and no noise anywhere.
            li.ml-1.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.ml-1.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.ml-1.list-group-item.border 
              h6 starsWow product every thing is perfect in this clock. 
              small By 
              a(href="#").card-link yMd.Kamal Ashraf
              small on 13 January 2018
              p Good looking and perfect timing.
            li.ml-1.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.ml-1.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
    .col-sm-6.col-md-4
      .review-content.card
        .card-header.d-flex.justify-content-md-between
          h5.card-title.mb-0 4 Star
          ul.rating.mb-0.p-0.d-inline-flex
            li.ml-1
              i.icon-star.icon-md
            li.ml-1
              i.icon-star.icon-md
            li.ml-1
              i.icon-star.icon-md
            li.ml-1
              i.icon-star.icon-md
            li.ml-1
              i.icon-star-o.icon-md
        .card-body.px-1.py-2
          ul.list-group
            li.ml-1.list-group-item.border 
              h6 Shows the quality plus time. 
              small By 
              a(href="#").card-link viswanadh chandra 
              small on 10 May 2016
              p It reflects the amount you put in it. Solid built and no noise anywhere.
            li.ml-1.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.ml-1.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.ml-1.list-group-item.border 
              h6 starsWow product every thing is perfect in this clock. 
              small By 
              a(href="#").card-link yMd.Kamal Ashraf
              small on 13 January 2018
              p Good looking and perfect timing.
            li.ml-1.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.ml-1.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
    .col-sm-6.col-md-4
      .review-content.card
        .card-header.d-flex.justify-content-md-between
          h5.card-title.mb-0 3 Star
          ul.rating.mb-0.p-0.d-inline-flex
            li.ml-1
              i.icon-star.icon-md
            li.ml-1
              i.icon-star.icon-md
            li.ml-1
              i.icon-star.icon-md
            li.ml-1
              i.icon-star-o.icon-md
            li.ml-1
              i.icon-star-o.icon-md
        .card-body.px-1.py-2
          ul.list-group
            li.ml-1.list-group-item.border 
              h6 Shows the quality plus time. 
              small By 
              a(href="#").card-link viswanadh chandra 
              small on 10 May 2016
              p It reflects the amount you put in it. Solid built and no noise anywhere.
            li.ml-1.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.ml-1.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.ml-1.list-group-item.border 
              h6 starsWow product every thing is perfect in this clock. 
              small By 
              a(href="#").card-link yMd.Kamal Ashraf
              small on 13 January 2018
              p Good looking and perfect timing.
            li.ml-1.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.ml-1.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
    .col-sm-6.col-md-4
      .review-content.card
        .card-header.d-flex.justify-content-md-between
          h5.card-title.mb-0 2 Star
          ul.rating.mb-0.p-0.d-inline-flex
            li.ml-1
              i.icon-star.icon-md
            li.ml-1
              i.icon-star.icon-md
            li.ml-1
              i.icon-star-o.icon-md
            li.ml-1
              i.icon-star-o.icon-md
            li.ml-1
              i.icon-star-o.icon-md
        .card-body.px-1.py-2
          ul.list-group
            li.ml-1.list-group-item.border 
              h6 Shows the quality plus time. 
              small By 
              a(href="#").card-link viswanadh chandra 
              small on 10 May 2016
              p It reflects the amount you put in it. Solid built and no noise anywhere.
            li.ml-1.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.ml-1.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.ml-1.list-group-item.border 
              h6 starsWow product every thing is perfect in this clock. 
              small By 
              a(href="#").card-link yMd.Kamal Ashraf
              small on 13 January 2018
              p Good looking and perfect timing.
            li.ml-1.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.ml-1.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
    .col-sm-6.col-md-4
      .review-content.card
        .card-header.d-flex.justify-content-md-between
          h5.card-title.mb-0 1 Star
          ul.rating.mb-0.p-0.d-inline-flex
            li.ml-1
              i.icon-star.icon-md
            li.ml-1
              i.icon-star-o.icon-md
            li.ml-1
              i.icon-star-o.icon-md
            li.ml-1
              i.icon-star-o.icon-md
            li.ml-1
              i.icon-star-o.icon-md
        .card-body.px-1.py-2
          ul.list-group
            li.ml-1.list-group-item.border 
              h6 Shows the quality plus time. 
              small By 
              a(href="#").card-link viswanadh chandra 
              small on 10 May 2016
              p It reflects the amount you put in it. Solid built and no noise anywhere.
            li.ml-1.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.ml-1.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.ml-1.list-group-item.border 
              h6 starsWow product every thing is perfect in this clock. 
              small By 
              a(href="#").card-link yMd.Kamal Ashraf
              small on 13 January 2018
              p Good looking and perfect timing.
            li.ml-1.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.ml-1.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
