block content
  .row.star-review
    div.col-xs-12.col-sm-6.col-md-4
      div.review-content.card
        div.card-header
          h5.card-title 5 Star
          ul.rating
            li
              i.icon-star
            li
              i.icon-star
            li
              i.icon-star
            li
              i.icon-star
            li
              i.icon-star
        div.card-body
          ul.list-group
            li.list-group-item.border 
              h6 Shows the quality plus time. 
              small By 
              a(href="#").card-link viswanadh chandra 
              small on 10 May 2016
              p It reflects the amount you put in it. Solid built and no noise anywhere.
            li.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.list-group-item.border 
              h6 starsWow product every thing is perfect in this clock. 
              small By 
              a(href="#").card-link yMd.Kamal Ashraf
              small on 13 January 2018
              p Good looking and perfect timing.
            li.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
    div.col-xs-12.col-sm-6.col-md-4
      div.review-content.card
        div.card-header
          h5.card-title 4 Star
          ul.rating
            li
              i.icon-star
            li
              i.icon-star
            li
              i.icon-star
            li
              i.icon-star
            li
              i.icon-star-o
        div.card-body
          ul.list-group
            li.list-group-item.border 
              h6 Shows the quality plus time. 
              small By 
              a(href="#").card-link viswanadh chandra 
              small on 10 May 2016
              p It reflects the amount you put in it. Solid built and no noise anywhere.
            li.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.list-group-item.border 
              h6 starsWow product every thing is perfect in this clock. 
              small By 
              a(href="#").card-link yMd.Kamal Ashraf
              small on 13 January 2018
              p Good looking and perfect timing.
            li.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
    div.col-xs-12.col-sm-6.col-md-4
      div.review-content.card
        div.card-header
          h5.card-title 3 Star
          ul.rating
            li
              i.icon-star
            li
              i.icon-star
            li
              i.icon-star
            li
              i.icon-star-o
            li
              i.icon-star-o
        div.card-body
          ul.list-group
            li.list-group-item.border 
              h6 Shows the quality plus time. 
              small By 
              a(href="#").card-link viswanadh chandra 
              small on 10 May 2016
              p It reflects the amount you put in it. Solid built and no noise anywhere.
            li.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.list-group-item.border 
              h6 starsWow product every thing is perfect in this clock. 
              small By 
              a(href="#").card-link yMd.Kamal Ashraf
              small on 13 January 2018
              p Good looking and perfect timing.
            li.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
    div.col-xs-12.col-sm-6.col-md-4
      div.review-content.card
        div.card-header
          h5.card-title 2 Star
          ul.rating
            li
              i.icon-star
            li
              i.icon-star
            li
              i.icon-star-o
            li
              i.icon-star-o
            li
              i.icon-star-o
        div.card-body
          ul.list-group
            li.list-group-item.border 
              h6 Shows the quality plus time. 
              small By 
              a(href="#").card-link viswanadh chandra 
              small on 10 May 2016
              p It reflects the amount you put in it. Solid built and no noise anywhere.
            li.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.list-group-item.border 
              h6 starsWow product every thing is perfect in this clock. 
              small By 
              a(href="#").card-link yMd.Kamal Ashraf
              small on 13 January 2018
              p Good looking and perfect timing.
            li.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
    div.col-xs-12.col-sm-6.col-md-4
      div.review-content.card
        div.card-header
          h5.card-title 1 Star
          ul.rating
            li
              i.icon-star
            li
              i.icon-star-o
            li
              i.icon-star-o
            li
              i.icon-star-o
            li
              i.icon-star-o
        div.card-body
          ul.list-group
            li.list-group-item.border 
              h6 Shows the quality plus time. 
              small By 
              a(href="#").card-link viswanadh chandra 
              small on 10 May 2016
              p It reflects the amount you put in it. Solid built and no noise anywhere.
            li.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.list-group-item.border 
              h6 starsWow product every thing is perfect in this clock. 
              small By 
              a(href="#").card-link yMd.Kamal Ashraf
              small on 13 January 2018
              p Good looking and perfect timing.
            li.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive
            li.list-group-item.border 
              h6 very classy but too expensive. 
              small By 
              a(href="#").card-link M Srinivas 
              small on 13 January 2018
              p very classy but too expensive

       
