block content
  table(id='table-reviews_weeks' class='table m-0' style='width: 100%')
    thead
      tr
        th(rowspan='2').text-center
          strong Products
        th(colspan='2').text-center
          div
            strong Week 1 2018
          small 08-Apr - 14 Apr
        th(colspan='2').text-center
          div
            strong Week 2 2018
          small 15-Apr - 21 Apr
        th(colspan='2').text-center
          div
            strong Week 3 2018
          small 22-Apr - 28 Apr
        th(colspan='2').text-center
          div
            strong Week 4 2018
          small 29-Apr - 05 May
        th(colspan='2').text-center
          div
            strong Week 5 2018
          small 06-May - 12 May
        th(colspan='2').text-center
          div
            strong Week 6 2018
          small 13-May - 19 May
        th(colspan='2').text-center
          div
            strong Current Week
          small 20-May - 26 May
      tr
        th.text-right Added
        th.text-center Deleted
        th.text-right Added
        th.text-center Deleted
        th.text-right Added
        th.text-center Deleted
        th.text-right Added
        th.text-center Deleted
        th.text-right Added
        th.text-center Deleted
        th.text-right Added
        th.text-center Deleted
        th.text-right Added
        th.text-center Deleted
      tr.total
        th.text-center All Products
        th.text-right 100
        th.text-center 150.00
        th.text-right 260.00
        th.text-center 10
        th.text-right 467.00
        th.text-center 150.00
        th.text-right 160.00
        th.text-center 140
        th.text-right 675.00
        th.text-center 150.00
        th.text-right 650.00
        th.text-center 120
        th.text-right 630.00
        th.text-center 100
    tbody
      tr
        td 
          a(href='#')(data-toggle='tooltip')(title='Hooray').cus-tooltip ASIN/Model/Sku
            i.icon-info-circle
          // Generated markup by the plugin
          .tooltip.bs-tooltip-top(role='tooltip')
              .arrow
              .tooltip-inner Some tooltip text!
        td.text-right 50,000.00
        td.text-center 80
        td.text-right 500.75
        td.text-center 80
        td.text-right 50,000.00
        td.text-center 80
        td.text-right 500.00
        td.text-center 80
        td.text-right 50,000.00
        td.text-center 80
        td.text-right 500.00
        td.text-center 80
        td.text-right 500.00
        td.text-center 80
      tr
        td ASIN/Model/Sku
        td.text-right 50,000.00
        td.text-center 80
        td.text-right 500.75
        td.text-center 80
        td.text-right 50,000.00
        td.text-center 80
        td.text-right 500.00
        td.text-center 80
        td.text-right 50,000.00
        td.text-center 80
        td.text-right 500.00
        td.text-center 80
        td.text-right 500.00
        td.text-center 80
