block content
  table(id='table-reviews_trends' class='table m-0' style='width: 100%')
    thead
      tr
        th(rowspan='2').text-center 
          strong Products
        th(rowspan='2').text-center
          strong Total
        th(colspan='2').text-center
          div
            strong Past 7 Days
        th(colspan='2').text-center
          div
            strong Past 30 Days
        th(colspan='2').text-center
          div
          strong Past 90 Days
      tr
        th.text-center
          strong Count
        th.text-center
          strong %
        th.text-center
          strong Count
        th.text-center
          strong %
        th.text-center
          strong Count
        th.text-center
          strong %
      tr.total
        th.text-center All Products
        th.text-center 80
        th.text-center.text-success 10
        th.text-center 5%
        th.text-center.text-danger 18
        th.text-center 8%
        th.text-center 10
        th.text-center 10%    
    tbody
      tr
        td.text-center ASIN234234
        td.text-center 72
        td.text-center 14
        td.text-center 7%
        td.text-center.text-success 13
        td.text-center 12%
        td.text-center.text-danger 8
        td.text-center 8%
      tr
        td.text-center ASIN542355
        td.text-center 72
        td.text-center 14
        td.text-center 7%
        td.text-center.text-success 8
        td.text-center 12%
        td.text-center 8
        td.text-center 8%
      tr
        td.text-center ASIN123414
        td.text-center 20
        td.text-center 16
        td.text-center 20%
        td.text-center.text-danger 10
        td.text-center 2%
        td.text-center.text-danger 8
        td.text-center 6%
      tr
        td.text-center ASIN246452
        td.text-center 50
        td.text-center.text-success 60
        td.text-center 8%
        td.text-center.text-danger 25
        td.text-center 20%
        td.text-center 10
        td.text-center 10%
      tr
        td.text-center ASIN234265
        td.text-center 100
        td.text-center 25
        td.text-center 8%
        td.text-center.text-success 20
        td.text-center 12%
        td.text-center.text-danger 8
        td.text-center 10%
      tr
        td.text-center ASIN2346234
        td.text-center 72
        td.text-center 14
        td.text-center 7%
        td.text-center.text-success 13
        td.text-center 12%
        td.text-center.text-success 8
        td.text-center 8%
      tr
        td.text-center ASIN234534
        td.text-center 15
        td.text-center 80
        td.text-center 20%
        td.text-center.text-danger 10
        td.text-center 18%
        td.text-center 7
        td.text-center 10%
      tr
        td.text-center ASIN345346
        td.text-center 60
        td.text-center 12
        td.text-center 10%
        td.text-center.text-success 50
        td.text-center 1%
        td.text-center.text-danger 80
        td.text-center 60%
      tr
        td.text-center ASIN34546
        td.text-center 72
        td.text-center.text-danger 14
        td.text-center 7%
        td.text-center 13
        td.text-center 12%
        td.text-center.text-success 8
        td.text-center 8%
      tr
        td.text-center ASIN234234
        td.text-center 25
        td.text-center.text-success 12
        td.text-center 17%
        td.text-center.text-danger 10
        td.text-center 18%
        td.text-center 6
        td.text-center 81%
      tr
        td.text-center ASIN234234
        td.text-center 100
        td.text-center 50
        td.text-center 9%
        td.text-center.text-danger 17
        td.text-center 18%
        td.text-center 5
        td.text-center 8%
