block content
	table(id='table-forecasting_view' class='table m-0 forecasting-view-table' style='width: 100%')
		thead
			tr
				th ASIN
				th MFG model number
				th Replenishment code / Item availability
				th Last 12 months of sales
				th Amazon on hand
				th Open PO
				th Last 13 weeks of sales
				th Average weekly sales
				th 4 weeks of cover
				th Inventory needed
				th Category
				th Subcategory
				th 04/02/2018
				th 11/02/2018
				th 18/02/2018
				th 25/02/2018
				th 04/03/2018
				th 11/03/2018
				th 18/03/2018
				th 25/03/2018
				th 01/04/2018
				th 08/04/2018
				th 15/04/2018
				th 22/04/2018
				th 29/04/2018
				th Current week
				th 13/05/2018
				th 20/05/2018
				th 27/05/2018
				th MAY
				th 03/06/2018
				th 10/06/2018
				th 17/06/2018
				th 24/06/2018
				th JUN
				th 01/07/2018
				th 08/07/2018
				th 15/07/2018
				th 22/07/2018
				th 29/07/2018
				th JUL
				th 05/08/2018
				th 12/08/2018
				th 19/08/2018
				th 26/08/2018
				th AUG
				th 02/09/2018
				th 09/09/2018
				th 16/09/2018
				th 23/09/2018
				th 30/09/2018
				th SEP
				th 07/10/2018
				th 14/10/2018
				th 21/10/2018
				th 28/10/2018
				th OCT
		tbody
			tr
				td.text-left B00I608BG6
				td.text-left MAGRKI
				td.text-left Planned Replenishment (PR)
				td 47697
				td 5735
				td.text-success 9635
				td 9703
				td 746
				td 2986
				td -12384
				td.text-left 0200 Wireless Accessories
				td.text-left 0260 Holders/Mounts
				td 960
				td 1058
				td 1124
				td 976
				td 716
				td.text-danger 382
				td 1296
				td 891
				td 235
				td 361
				td 579
				td 474
				td 651
				td 626
				td 650
				td.text-danger 652
				td 648
				td 2576
				td 658
				td 664
				td 657
				td 654
				td 2633
				td 641
				td 655
				td 642
				td.text-success 651
				td 656
				td 3245
				td 659
				td 648
				td 632
				td 630
				td 2569
				td.text-danger 628
				td 631
				td 633
				td 628
				td 626
				td 3146
				td.text-success 620
				td 612
				td 612
				td 622
				td 2466
			tr
				td.text-left B00I608BJ8
				td.text-left MAGDMB
				td.text-left Planned Replenishment (PR)
				td.text-success 75058
				td 3144
				td 768
				td 14811
				td 1139
				td 4557
				td  
				td.text-left 0200 Wireless Accessories
				td.text-left 0295 GPS and Car Accessories
				td 1024
				td 1108
				td 1052
				td 1062
				td.text-success 1143
				td 1048
				td 1415
				td 1180
				td 1020
				td 1373
				td 1303
				td.text-danger 907
				td 1176
				td 1252
				td 1212
				td 1192
				td 1161
				td 4817
				td 1253
				td 1198
				td 1203
				td 1247
				td 4901
				td 1206
				td 2387
				td 1222
				td 1232
				td 1207
				td 7254
				td 1232
				td.text-danger 1278
				td 1275
				td 1203
				td 4988
				td 1087
				td 1054
				td.text-success 1055
				td 1037
				td 1058
				td 5291
				td 966
				td 979
				td 974
				td 935
				td 3854
			tr
				td.text-left B00R2K4LCY
				td.text-left MAGWSM2
				td.text-left Planned Replenishment (PR)
				td 19585
				td.text-success 2027
				td 1103
				td 6783
				td 522
				td 2087
				td  
				td.text-left 0200 Wireless Accessories
				td.text-left 0295 GPS and Car Accessories
				td 226
				td 253
				td 267
				td 311
				td 465
				td.text-danger 567
				td 445
				td 654
				td 701
				td 669
				td 691
				td 800
				td 734
				td 831
				td.text-danger 848
				td 849
				td 850
				td 3378
				td 866
				td 908
				td 952
				td 994
				td 3720
				td 1033
				td 1072
				td 1132
				td 1194
				td 1260
				td 5691
				td 1284
				td 1277
				td 1210
				td 1119
				td.text-success 4890
				td 1036
				td 980
				td 931
				td 911
				td 933
				td 4791
				td 968
				td.text-danger 959
				td 949
				td 966
				td 3842
			tr
				td.text-left B00E1UWA4O
				td.text-left USBC242M
				td.text-left Planned Replenishment (PR)
				td 12518
				td 1076
				td 0
				td 710
				td.text-danger 55
				td 218
				td  
				td.text-left 0200 Wireless Accessories
				td.text-left 0230 Car Chargers
				td 314
				td 262
				td 134
				td 0
				td 0
				td 0
				td 0
				td 0
				td 0
				td 0
				td 0
				td 0
				td 0
				td.text-danger 1
				td 1
				td 2
				td 3
				td 7
				td 3
				td 3
				td 3
				td 4
				td 13
				td 3
				td 2
				td 2
				td 2
				td 1
				td 10
				td 2
				td 2
				td 3
				td 2
				td 9
				td 2
				td 2
				td 2
				td 2
				td.text-danger 2
				td 10
				td 3
				td 2
				td 2
				td 1
				td 8
			tr
				td.text-left B00I9I8WGY
				td.text-left MAGWDM
				td.text-left Planned Replenishment (PR)
				td 17926
				td 966
				td 309
				td 5011
				td 385
				td 1542
				td  
				td.text-left 0200 Wireless Accessories
				td.text-left 0295 GPS and Car Accessories
				td 358
				td 382
				td 451
				td 399
				td.text-success 441
				td 481
				td 492
				td 416
				td.text-danger 271
				td 266
				td 276
				td 367
				td 411
				td 412
				td 385
				td 384
				td 363
				td 1544
				td 368
				td 355
				td 368
				td 365
				td 1456
				td 347
				td 430
				td.text-danger 353
				td 354
				td 360
				td 1844
				td 338
				td 329
				td.text-danger 337
				td 324
				td 1328
				td 292
				td 286
				td 271
				td 273
				td 268
				td 1390
				td.text-danger 264
				td 271
				td 266
				td 248
				td 1049
			tr
				td.text-left B00PMOCI72
				td.text-left MAGVM2
				td.text-left Planned Replenishment (PR)
				td 11510
				td 889
				td 351
				td 3856
				td 297
				td 1186
				td  
				td.text-left 0200 Wireless Accessories
				td.text-left 0295 GPS and Car Accessories
				td 214
				td 235
				td 255
				td 306
				td 283
				td 314
				td 369
				td.text-danger 313
				td 308
				td 282
				td 346
				td 312
				td 319
				td 312
				td 301
				td.text-success 300
				td 307
				td 1220
				td 313
				td 308
				td 303
				td 305
				td.text-danger 1229
				td 297
				td 294
				td 288
				td 289
				td 288
				td 1456
				td.text-danger 281
				td 272
				td 274
				td 283
				td 1110
				td 283
				td 276
				td 276
				td 276
				td 276
				td 1387
				td 271
				td 269
				td 277
				td 289
				td 1106
			tr
				td.text-left B01MYHD29Y
				td.text-left MAGCD2
				td.text-left Planned Replenishment (PR)
				td 8158
				td 763
				td 663
				td 2858
				td 220
				td 879
				td  
				td.text-left 0200 Wireless Accessories
				td.text-left 0260 Holders/Mounts
				td 200
				td 200
				td 227
				td 297
				td.text-danger 310
				td 274
				td 18
				td 59
				td 208
				td 257
				td 250
				td 244
				td 314
				td 318
				td 325
				td 323
				td 315
				td.text-success 1281
				td 304
				td 290
				td 299
				td 309
				td 1202
				td 358
				td 411
				td 369
				td.text-danger 341
				td 316
				td 1795
				td 313
				td 296
				td 299
				td 275
				td 1183
				td 263
				td 273
				td 288
				td 301
				td 281
				td 1406
				td 271
				td 268
				td 254
				td 221
				td 1014
			tr
				td.text-left B00009UHJS
				td.text-left MDA1B
				td.text-left Planned Replenishment (PR)
				td 140
				td 659
				td 4
				td 1542
				td 119
				td 474
				td  
				td.text-left 0200 Wireless Accessories
				td.text-left 0295 GPS and Car Accessories
				td 91
				td 87
				td 107
				td 113
				td.text-success 134
				td 178
				td 163
				td 121
				td 109
				td 159
				td 125
				td 94
				td 61
				td.text-danger 84
				td 78
				td 85
				td 86
				td 333
				td 97
				td 107
				td 106
				td 107
				td 417
				td 110
				td 125
				td 110
				td 101
				td 97
				td.text-danger 543
				td 94
				td 96
				td 91
				td 88
				td 369
				td 81
				td 76
				td 77
				td.text-danger 73
				td 79
				td 386
				td 78
				td 68
				td 67
				td 71
				td 284
			tr
				td.text-left B075XZBKBQ
				td.text-left MAGKIT
				td.text-left New Product (NP)
				td 3169
				td 589
				td 131
				td 1990
				td 153
				td 612
				td  
				td.text-left0200 Wireless Accessories
				td.text-left 0260 Holders/Mounts
				td 128
				td 113
				td 123
				td 160
				td 152
				td 115
				td 183
				td.text-danger 184
				td 199
				td 185
				td 143
				td 160
				td 145
				td 169
				td 171
				td 173
				td 177
				td.text-danger 690
				td 180
				td 177
				td 181
				td 188
				td 726
				td 205
				td 233
				td 224
				td.text-success 201
				td 191
				td 1054
				td 181
				td 168
				td 157
				td 154
				td 660
				td 150
				td 152
				td.text-danger 162
				td 164
				td 159
				td 787
				td 151
				td 137
				td 126
				td 119
				td 533
			tr
				td.text-left B01DBAVFI6
				td.text-left MPDA-XTPP1
				td.text-left New Product (NP)
				td 9395
				td 568
				td 738
				td 2633
				td 203
				td 810
				td  
				td.text-left 0200 Wireless Accessories
				td.text-left 0260 Holders/Mounts
				td 313
				td 331
				td 305
				td 362
				td 306
				td 214
				td 9
				td 5
				td.text-danger 7
				td 52
				td 66
				td 308
				td 355
				td 352
				td 374
				td.text-success 355
				td 331
				td 1412
				td 340
				td 297
				td 296
				td 335
				td 1268
				td.text-danger 386
				td 412
				td 387
				td 354
				td 359
				td.text-success 1898
				td 336
				td 320
				td 314
				td 294
				td 1264
				td 292
				td 304
				td 296
				td.text-danger 330
				td 305
				td.text-success 1527
				td 270
				td 262
				td 233
				td 217
				td 982
			tr
				td.text-left B00009UHKW
				td.text-left TA02B
				td.text-left Planned Replenishment (PR)
				td 4591
				td 479
				td 156
				td.text-success 1471
				td 113
				td 453
				td  
				td.text-left 0200 Wireless Accessories
				td.text-left 0295 GPS and Car Accessories
				td 94
				td 76
				td 96
				td 111
				td 105
				td 79
				td.text-danger 87
				td 79
				td 123
				td 167
				td 148
				td 153
				td 153
				td 158
				td 150
				td.text-danger 153
				td 158
				td 619
				td 157
				td.text-success 149
				td 147
				td 154
				td 607
				td 154
				td 150
				td 145
				td 146
				td.text-danger 149
				td 744
				td 148
				td 142
				td 141
				td 144
				td 575
				td.text-danger 142
				td 138
				td 139
				td 140
				td 140
				td 699
				td 137
				td 134
				td.text-success 136
				td 141
				td 548
			