@font-face {
  font-family: 'icomoon';
  src: url('icomoon/icomoon.eot');
  src: url('icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
       url('icomoon/icomoon.woff') format('woff'),
       url('icomoon/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
