block content
  table(id='across-theweb' class='table m-0' style='width: 100%')
    thead
      tr
        th.text-left
          strong Across the Web
        th.text-center
          strong Non-Compliant Products
    tbody
      tr
        td 
          strong Google Shopping
        td
      tr
        td.text-indent-20 Tigerdirect
        td.text-center 10
      tr
        td.text-indent-20 Etc.
        td.text-center 5
      tr
        td 
          strong Marketplace
        td
      tr
        td.text-indent-20 Bestbuy.com
        td.text-center 3
      tr
        td.text-indent-20 chewy.com.
        td.text-center 2
      tr
        td.text-indent-20 target.com
        td.text-center 1
      tr
        td.text-indent-20 homedepot.com
        td.text-center 3
      tr
        td.text-indent-20 lowes.com
        td.text-center 2
      tr
        td.text-indent-20 kohls.com
        td.text-center 1
      tr
        td.text-indent-20 nordstrom.com
        td.text-center 3
      tr
        td.text-indent-20 macys.com
        td.text-center 2
      tr
        td.text-indent-20 ebay.com
        td.text-center 1