block content
  table(id='top20-problem-products' class='table m-0' style='width: 100%')
    thead
      tr
        th.text-left
          strong Top 20 Problem Products
        th.text-center
          strong Product Rank
    tbody
      tr
        td Stereo Headphones
        td.text-center 100
      tr
        td Cord
        td.text-center 200
      tr
        td Cable
        td.text-center 30
      tr
        td Power station
        td.text-center 500
      tr
        td mounts
        td.text-center 50