block content
  table(id='top20-seller' class='table m-0' style='width: 100%')
    thead
      tr
        th.text-left
          strong Top 20 Sellers
        th.text-center
          strong Non-Compliant Products
    tbody
      tr
        td Amazon
        td.text-center 10
      tr
        td Wisinguwell
        td.text-center 5
      tr
        td eTailz
        td.text-center 3
      tr
        td NetRush
        td.text-center 2
      tr
        td Oxycom
        td.text-center 1
      