block content
  table(id='table-aap_performance' class='table m-0 border-0 table-linenowrap' style='width: 100%')
    thead
      tr
        th.text-left
          strong Interval
        th.text-left
          strong Order
        th.text-right
          strong Agency fee
        th.text-right
          strong Total cost
        th.text-right
          strong impression
        th.text-right
          strong eCPM
        th.text-right
          strong Cumulative reach
        th.text-right
          strong Click throughs
        th.text-right
          strong CTR
        th.text-right
          strong DPV
        th.text-right
          strong DPVR
        th.text-right
          strong ATC
        th.text-right
          strong ATCR
        th.text-right
          strong SnSS
        th.text-right
          strong SnSSR
        th.text-right
          strong Total units sold
    tbody
      tr
        td.text-left 
        td.text-left 
        td.text-right $9,109.45
        td.text-right $60,729.69
        td.text-right 11,021,504
        td.text-right $5.51
        td.text-right -
        td.text-right 5.256
        td.text-right 0.0477%
        td.text-right 19.134
        td.text-right 0.1736%
        td.text-right 3.547
        td.text-right 0.0322%
        td.text-right 61
        td.text-right 0.006%
        td.text-right 2.218
      tr
        td.text-left.date-column Apr 1 2018 - Apr-24 2018
        td.text-left.date-column OSL_Apr_2018
          small.text-muted ID: 481067330701
        td.text-right $9,109.45
        td.text-right $60,729.69
        td.text-right 11,021,504
        td.text-right $5.51
        td.text-right -
        td.text-right 5.256
        td.text-right 0.0477%
        td.text-right 19.134
        td.text-right 0.1736%
        td.text-right 3.547
        td.text-right 0.0322%
        td.text-right 61
        td.text-right 0.006%
        td.text-right 2.218
      tr
        td.text-left 
        td.text-left 
        td.text-right $9,109.45
        td.text-right $60,729.69
        td.text-right 11,021,504
        td.text-right $5.51
        td.text-right -
        td.text-right 5.256
        td.text-right 0.0477%
        td.text-right 19.134
        td.text-right 0.1736%
        td.text-right 3.547
        td.text-right 0.0322%
        td.text-right 61
        td.text-right 0.006%
        td.text-right 2.218 