block content
  table(id='table-aap_performance' class='table m-0 border-0 table-linenowrap' style='width: 100%')
    thead
      tr
        th.text-left
          strong Interval
        th.text-left
          strong Order
        th.cell-amount
          strong Agency fee
        th.cell-amount
          strong Total cost
        th
          strong Impression
        th.cell-amount
          strong eCPM
        th
          strong Cumulative reach
        th
          strong Click throughs
        th
          strong CTR
        th
          strong DPV
        th
          strong DPVR
        th
          strong ATC
        th
          strong ATCR
        th
          strong SnSS
        th
          strong SnSSR
        th
          strong Total units sold
    tbody
      tr
        td.text-left 
        td.text-left 
        td.cell-amount $9,109.45
        td.cell-amount $60,729.69
        td 11,021,504
        td.cell-amount $5.51
        td -
        td 5.256
        td 0.0477%
        td 19.134
        td 0.1736%
        td 3.547
        td 0.0322%
        td 61
        td 0.006%
        td 2.218
      tr
        td.text-left.date-column Apr 1 2018 - Apr-24 2018
        td.text-left.date-column OSL_Apr_2018
          small.text-muted ID: 481067330701
        td.cell-amount $9,109.45
        td.cell-amount $60,729.69
        td 11,021,504
        td.cell-amount $5.51
        td -
        td 5.256
        td 0.0477%
        td 19.134
        td 0.1736%
        td 3.547
        td 0.0322%
        td 61
        td 0.006%
        td 2.218
      tr
        td.text-left 
        td.text-left 
        td.cell-amount $9,109.45
        td.cell-amount $60,729.69
        td 11,021,504
        td.cell-amount $5.51
        td -
        td 5.256
        td 0.0477%
        td 19.134
        td 0.1736%
        td 3.547
        td 0.0322%
        td 61
        td 0.006%
        td 2.218 
