block content
  table(id='table-performing_products' class='table m-0 border-0')
    thead
      tr
        th.text-left(rowspan='2') 
          strong Products
        th(colspan='5')
          strong Sponsored Products
        th(colspan='5')
          strong Headline Search
        th(colspan='5')
          strong Product Display
      tr
        th Impressions
        th Clicks
        th.cell-amount CPC
        th.cell-amount Sales
        th ACOS
        th Impressions
        th Clicks
        th.cell-amount CPC
        th.cell-amount Sales
        th ACOS
        th Impressions
        th Clicks
        th.cell-amount CPC
        th.cell-amount Sales
        th ACOS
    tbody
      tr
        td.text-left HushMat 10200 Ultra Black Foil Door Kit with Damping Pad - 10 Piece
        td 45,709
        td 510
        td.cell-amount $0.34
        td.cell-amount $3,127.03
        td 5.51%
        td 87
        td 1
        td.cell-amount $1.63
        td.cell-amount $23.85
        td 3.2675%
        td 628
        td 3
        td.cell-amount $0.46
        td.cell-amount $23.52
        td 4.7603%
      tr
        td.text-left HushMat HSM30300 1&quot; x 20&apos; Quiet Tape Shop Roll
        td 115,595
        td 346
        td.cell-amount $0.55
        td.cell-amount $416.59
        td 45.67%
        td 68
        td 1
        td.cell-amount $0.85
        td.cell-amount $18.85
        td 2.5481%
        td 514
        td 2
        td.cell-amount $0.51
        td.cell-amount $18.52
        td 3.8762%
      tr
        td.text-left HushMat 10400 Ultra Black Foil Floor Kit with Damping Pad - 20 Piece
        td 5,470
        td 57
        td.cell-amount $0.42
        td.cell-amount $544.21
        td 4.36%
        td 41
        td 1
        td.cell-amount $0.36
        td.cell-amount $13.52
        td 1.8562%
        td 246
        td 1
        td.cell-amount $0.41
        td.cell-amount $11.52
        td 1.0236%
