block content
  table(id='table-performing_keywords' class='table m-0 border-0' style='width: 100%')
    thead
      tr
        th.text-left(rowspan='2') 
          strong Keywords
        th(colspan='5')
          strong Sponsored Products
        th(colspan='5')
          strong Headline Search
        th(colspan='5')
          strong Product Display
      tr
        th Impressions
        th Clicks
        th.cell-amount CPC
        th Sales
        th ACOS
        th Impressions
        th Clicks
        th.cell-amount CPC
        th Sales
        th ACOS
        th Impressions
        th Clicks
        th.cell-amount CPC
        th Sales
        th ACOS
    tbody
      tr
        td.text-nowrap.text-left tape quiet
        td 545
        td 3
        td.cell-amount $0.53
        td.cell-amount $20.65
        td 7.6998%
        td 2
        td 1
        td.cell-amount $0.57
        td.cell-amount $20.65
        td 2.7603%
        td 2
        td 1
        td.cell-amount $0.57
        td.cell-amount $20.65
        td 2.7603%
      tr
        td.text-nowrap.text-left automotive masking tape
        td 440
        td 3
        td.cell-amount $0.24
        td.cell-amount $16.65
        td 4.521%
        td 83
        td 1
        td.cell-amount $0.56
        td.cell-amount $10.65
        td 1.1813%
        td 84
        td 2
        td.cell-amount $0.09
        td.cell-amount $14.58
        td 0.8205%
      tr
        td.text-nowrap.text-left car insulation
        td 25
        td 1
        td.cell-amount $0.15
        td.cell-amount $9.65
        td 1.521%
        td 43
        td 1
        td.cell-amount $0.36
        td.cell-amount $5.65
        td 0.1128%
        td 549
        td 3
        td.cell-amount $0.46
        td.cell-amount $10.58
        td 0.4205%
