block content
  table(id='table-performing_keywords' class='table m-0' style='width: 100%')
    thead
      tr
        th(rowspan='2').text-center Keywords
        th(colspan='5').text-center
          div
            strong Sponsored Products
        th(colspan='5').text-center
          div
            strong Headline Search
        th(colspan='5').text-center
          div
            strong Product Display
      tr
        th.text-right Impressions
        th.text-right Clicks
        th.text-center CPC
        th.text-right Sales
        th.text-right ACOS
        th.text-right Impressions
        th.text-right Clicks
        th.text-center CPC
        th.text-right Sales
        th.text-right ACOS
        th.text-right Impressions
        th.text-right Clicks
        th.text-center CPC
        th.text-right Sales
        th.text-right ACOS
    tbody
      tr
        td.text-nowrap Keyword1
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
      tr
        td.text-nowrap Keyword2
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
      tr
        td.text-nowrap Keyword3
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
        td.text-right xxx
