block content
  table(id='table-performing_target' class='table m-0 border-0 table-linenowrap' style='width: 100%')
    thead
      tr
        th.text-left
          strong Segment Name
        th
          strong Impressions
        th.cell-amount
          strong Purchase Rate
    tbody
      tr
        td.text-left Hushmat
        td 50,000
        td.cell-amount $4000
