block content
  table(id='table-performing_untarget' class='table m-0 border-0 table-linenowrap' style='width: 100%')
    thead
      tr
        th.text-center
          strong Segment Name
        th.text-center
          strong Impressions
        th.text-center
          strong Purchase Rate
    tbody
      tr
        td.text-center THERMO PURE
        td.text-center 20,000
        td.text-center $1500           