block content
  table(id='table-performing_products' class='table m-0' style='width: 100%')
    thead
      tr
        th.text-center
          strong Segment Name
        th.text-center
          strong Impressions
        th.text-center
          strong Purchase Rate
    tbody
      tr
        td.text-center name
        td.text-center 100
        td.text-center $100            