mixin content-header(title)
	.row.align-items-center.mb-2
		.col
			.row.align-items-center
				h1.col-md-auto.h4.mb-0 #{title}
				small.col-md-auto.px-md-0.text-muted (From 05/20/2018 To 05/25/2018)
		.col-auto.ml-auto
			button.btn.btn-sm.btn-primary.rounded-0.d-inline-flex.align-items-center(type='button' title='Download')
				i.icon-download.icon-md.mr-sm-2
				span.d-none.d-sm-block Download	
