-var file = htmlWebpackPlugin.options.downloadFile;
mixin content-header(title)
	.row.align-items-center.mb-2
		.col
			.row.align-items-center
				h1.col-md-auto.h4.mb-0 #{title}
				if (file !== undefined)
					small.col-md-auto.px-md-0.text-muted (From 05/20/2018 To 05/25/2018)
		if (file !== undefined)
			.col-auto.ml-auto
				a.btn.btn-sm.btn-primary.rounded-0.d-inline-flex.align-items-center(href='download_files/' + file + '.xslx' role='button' title='Download' tabindex='1')
					i.icon-download.icon-md.mr-sm-2
					span.d-none.d-sm-block Download	
