- var showSearchbar = htmlWebpackPlugin.options.showSearchbar;
block content
  - var ranges = [
  - 'Select Date Range', 
  - 'Yesterday',
  - 'Week-to-Date',
  - 'Prior Week',
  - 'Month to Date',
  - 'Prior Month',
  - 'Customized: Enter custom date range'];
  - var weeks = [
  - 'Select Week', 
  - 'May 20 2018 - May 26 2018', 
  - 'May 13 2018 - May 19 2018',
  - 'May 06 2018 - May 12 2018',
  - 'Apr 29 2018 - May 05 2018',
  - 'Apr 22 2018 - Apr 28 2018', 
  - 'Apr 15 2018 - Apr 21 2018'];
  - var months = [
  - 'Select Month', 
  - '01 Jan 2018 - 31 Jan 2018', 
  - '01 Feb 2018 - 29 Feb 2018',
  - '01 Mar 2018 - 31 12 2018',
  - 'Apr 01 2018 - Apr 30 2018',
  - 'May 01 2018 - May 31 2018']
  // Section: Header
  header.header.has-nav.text-muted(class=(showSearchbar ? 'pb-0' : ''))
    .header-top.container-fluid
      .row.no-gutters.align-items-center.mb-2(class=(showSearchbar ? 'mb-0' : ''))
        .header-left.col.col-lg-8.col-xl-6
          .row.align-items-center.no-gutters
            a(href="#").navbar-brand.col-auto.text-center
            .form-row.border-left.col.mb-0.ml-md-4.pl-2
              label.d-none.d-md-inline-block.col-3.col-form-label(for="sales-marketplace") Market Place
              .col.col-md-6
                select.custom-select.form-control#sales-marketplace
                  option(selected='') Choose Market Place
                  option(value='2') Amazon
                  option(value='1') Best Buy
                  option(value='2') Walmart
        .header-right.col-auto.ml-auto
          .dropdown.show.text-right
            a#user-menu.btn.text-muted.dropdown-toggle.d-inline-flex.align-items-center.rounded-0(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              span.d-none.d-inline-md-block James Walter
              i.rounded.icon-user.text-primary.icon-md.ml-2
            .dropdown-menu(aria-labelledby='user-menu')
              a.dropdown-item(href='settings.html') My Profile
              a.dropdown-item(href='login.html') Log out
    .header-nav.mb-2
      include ./dashboard_menu
    // Section: Search Filters
    if (showSearchbar)
      .container-fluid
        .form-row.align-items-center
          .col-md.mb-2.mb-md-0
            .input-group
              .input-group-prepend
                span#search.input-group-text.px-2.px-md-4
                  i.icon-search.icon-md.text-primary
              input#myInput.form-control(type='text' placeholder='Search by ASIN, Part #, Model #, SKU' aria-label='Search' aria-describedby='search')
          .col-12.col-md-auto.mb-2.mb-md-0
            select.custom-select.form-control.select-daterange.rounded-0
              each range in ranges
                option(value=range) #{range}
          .col-9.col-md-auto.mb-md-0.daterange.d-none(id='daterange')
            .form-row
              .col
                .input-group
                  input.form-control.input-date(type='text' placeholder='from date' id='daterange-from' data-date-format="MM/DD/Y")
                  span.input-group-append.input-group-addon
                    i.input-group-text.icon-calendar.px-1.px-md-2(style='min-width: auto')
              .col
                .input-group
                  input.form-control.input-date(type='text' placeholder='to date' id="daterange-to" data-date-format="MM/DD/Y")
                  span.input-group-append.input-group-addon
                    i.input-group-text.icon-calendar.px-1.px-md-2(style='min-width: auto')
          .col-3.col-md-auto.mt-md-0
            button.btn.btn-primary.rounded-0.w-100 Apply
  .overlay        
