aside.sidebar
  nav.navbar.navbar-vertical.navbar-dark.bg-dark
    a.navbar-brand(href='#')
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href='dashboard.html')
          i.nav-icon.icon-meter.icon-md
          span.title Dashboard
      li.nav-item
        a.nav-link(href='users.html')
          i.nav-icon.icon-user.icon-md
          span.title User Management
