block content
	table#table-conversion_metrics.table.m-0(style='width: 100%')
		thead
			tr
				th.border-bottom-0
					strong Products
				th(colspan='3')
					div
						strong Week 1 2018
					small 08-Apr - 14 Apr
				th(colspan='3')
					div
						strong Week 2 2018
					small 15-Apr - 21 Apr
				th(colspan='3')
					div
						strong Week 3 2018
					small 22-Apr - 28 Apr
				th(colspan='3')
					div
						strong Week 4 2018
					small 29-Apr - 05 May
				th(colspan='3')
					div
						strong Week 5 2018
					small 06-May - 12 May
				th(colspan='3')
					div
						strong Week 6 2018
					small 13-May - 19 May
				th(colspan='3')
					div
						strong Current Week
					small 20-May - 26 May
			tr
				th.border-top-0
					select.custom-select.form-control
						option(selected='') SKU
						option(value='1') ASIN
						option(value='2') Model
						option(value='2') Part
				th Unique Page Views
				th Units Sold
				th Conversion in %
				th Unique Page Views
				th Units Sold
				th Conversion in %
				th Unique Page Views
				th Units Sold
				th Conversion in %
				th Unique Page Views
				th Units Sold
				th Conversion in %
				th Unique Page Views
				th Units Sold
				th Conversion in %
				th Unique Page Views
				th Units Sold
				th Conversion in %
				th Unique Page Views
				th Units Sold
				th Conversion in %
			tr.total
				th TOTAL
				th 1060
				th 110
				th 10
				th 1101
				th 123
				th 10
				th 990
				th 100
				th 10
				th 1176
				th 140
				th 11
				th 1085
				th 131
				th 12
				th 1146
				th 137
				th 12
				th 1211
				th 148
				th 12
		tbody
			tr
				td.text-highlight B018E65WW2
				td 543
				td 62
				td.text-success 11%
				td 575
				td 68
				td.text-success 11%
				td 510
				td 52
				td.text-danger 10%
				td 556
				td 72
				td.text-success 12%
				td 510
				td 69
				td.text-success 13%
				td 526
				td 68
				td.text-danger 12%
				td 569
				td 75
				td.text-success 13%
			tr
				td.text-highlight B01BON4QAQ
				td.text-success 517
				td 48
				td.text-success 9%
				td 526
				td 55
				td.text-success 10%
				td 480
				td 48
				td.text-danger 10%
				td 620
				td 68
				td.text-success 10%
				td 575
				td 62
				td.text-success 10%
				td 620
				td 69
				td.text-success 11%
				td 642
				td 73
				td.text-success 11%
