block content
  table(id='table-conversion_metrics' class='table m-0' style='width: 100%')
    thead
      tr
        th.text-center.border-bottom-0
          strong Products
        th(colspan='3').text-center
          div
            strong Week 1 2018
          small 08-Apr - 14 Apr
        th(colspan='3').text-center
          div
            strong Week 2 2018
          small 15-Apr - 21 Apr
        th(colspan='3').text-center
          div
            strong Week 3 2018
          small 22-Apr - 28 Apr
        th(colspan='3').text-center
          div
            strong Week 4 2018
          small 29-Apr - 05 May
        th(colspan='3').text-center
          div
            strong Week 5 2018
          small 06-May - 12 May
        th(colspan='3').text-center
          div
            strong Week 6 2018
          small 13-May - 19 May
        th(colspan='3').text-center
          div
            strong Current Week
          small 20-May - 26 May
      tr
        th.border-top-0
          select.custom-select.form-control
            option(selected='') SKU
            option(value='1') ASIN
            option(value='2') Model
            option(value='2') Part
        th.text-center Unique Page Views
        th.text-center Units Sold
        th.text-center Conversion in %
        th.text-center Unique Page Views
        th.text-center Units Sold
        th.text-center Conversion in %
        th.text-center Unique Page Views
        th.text-center Units Sold
        th.text-center Conversion in %
        th.text-center Unique Page Views
        th.text-center Units Sold
        th.text-center Conversion in %
        th.text-center Unique Page Views
        th.text-center Units Sold
        th.text-center Conversion in %
        th.text-center Unique Page Views
        th.text-center Units Sold
        th.text-center Conversion in %
        th.text-center Unique Page Views
        th.text-center Units Sold
        th.text-center Conversion in %
      tr.total
        th.text-center TOTAL
        th.text-center 67
        th.text-center 150
        th.text-center 50
        th.text-center 260
        th.text-center 10
        th.text-center 50
        th.text-center 467
        th.text-center 150
        th.text-center 50
        th.text-center 160
        th.text-center 140
        th.text-center 50
        th.text-center 675
        th.text-center 150
        th.text-center 50
        th.text-center 650
        th.text-center 120
        th.text-center 50
        th.text-center 630
        th.text-center 100
        th.text-center 50
    tbody
      tr
        td.text-center AMZ1290838
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%

      tr
        td.text-center AMZ1290838
        td.text-center.text-success 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center.text-success 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center.text-success 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
      tr
        td.text-center AMZ1290838
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 28%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center.text-success 500
        td.text-center 50
        td.text-center.text-danger 37%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%

      tr
        td.text-center AMZ1290838
        td.text-center.text-success 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center.text-danger 500
        td.text-center 50
        td.text-center.text-success 10%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 15%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center 500
        td.text-center 50
        td.text-center.text-success 10%

      tr
        td.text-center AMZ1290838
        td.text-center.text-danger 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center 500
        td.text-center 50
        td.text-center.text-success 45%
        td.text-center.text-danger 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
      tr
        td.text-center AMZ1290838
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
        td.text-center 500
        td.text-center 50
        td.text-center.text-danger 17%
