block content
	table#table-conversion_metrics.table.m-0(style='width: 100%')
		thead
			tr
				th.text-center.border-bottom-0
					strong Products
				th.text-center(colspan='3')
					div
						strong Week 1 2018
					small 08-Apr - 14 Apr
				th.text-center(colspan='3')
					div
						strong Week 2 2018
					small 15-Apr - 21 Apr
				th.text-center(colspan='3')
					div
						strong Week 3 2018
					small 22-Apr - 28 Apr
				th.text-center(colspan='3')
					div
						strong Week 4 2018
					small 29-Apr - 05 May
				th.text-center(colspan='3')
					div
						strong Week 5 2018
					small 06-May - 12 May
				th.text-center(colspan='3')
					div
						strong Week 6 2018
					small 13-May - 19 May
				th.text-center(colspan='3')
					div
						strong Current Week
					small 20-May - 26 May
			tr
				th.border-top-0
					select.custom-select.form-control
						option(selected='') SKU
						option(value='1') ASIN
						option(value='2') Model
						option(value='2') Part
				th.text-center Unique Page Views
				th.text-center Units Sold
				th.text-center Conversion in %
				th.text-center Unique Page Views
				th.text-center Units Sold
				th.text-center Conversion in %
				th.text-center Unique Page Views
				th.text-center Units Sold
				th.text-center Conversion in %
				th.text-center Unique Page Views
				th.text-center Units Sold
				th.text-center Conversion in %
				th.text-center Unique Page Views
				th.text-center Units Sold
				th.text-center Conversion in %
				th.text-center Unique Page Views
				th.text-center Units Sold
				th.text-center Conversion in %
				th.text-center Unique Page Views
				th.text-center Units Sold
				th.text-center Conversion in %
			tr.total
				th.text-center TOTAL
				th.text-center 1060
				th.text-center 110
				th.text-center 10
				th.text-center 1101
				th.text-center 123
				th.text-center 10
				th.text-center 990
				th.text-center 100
				th.text-center 10
				th.text-center 1176
				th.text-center 140
				th.text-center 11
				th.text-center 1085
				th.text-center 131
				th.text-center 12
				th.text-center 1146
				th.text-center 137
				th.text-center 12
				th.text-center 1211
				th.text-center 148
				th.text-center 12
		tbody
			tr
				td.text-center B018E65WW2
				td.text-center 543
				td.text-center 62
				td.text-center.text-success 11%
				td.text-center 575
				td.text-center 68
				td.text-center.text-success 11%
				td.text-center 510
				td.text-center 52
				td.text-center.text-danger 10%
				td.text-center 556
				td.text-center 72
				td.text-center.text-success 12%
				td.text-center 510
				td.text-center 69
				td.text-center.text-success 13%
				td.text-center 526
				td.text-center 68
				td.text-center.text-danger 12%
				td.text-center 569
				td.text-center 75
				td.text-center.text-success 13%
			tr
				td.text-center B01BON4QAQ
				td.text-center.text-success 517
				td.text-center 48
				td.text-center.text-success 9%
				td.text-center 526
				td.text-center 55
				td.text-center.text-success 10%
				td.text-center 480
				td.text-center 48
				td.text-center.text-danger 10%
				td.text-center 620
				td.text-center 68
				td.text-center.text-success 10%
				td.text-center 575
				td.text-center 62
				td.text-center.text-success 10%
				td.text-center 620
				td.text-center 69
				td.text-center.text-success 11%
				td.text-center 642
				td.text-center 73
				td.text-center.text-success 11%
