block content
	include trends-filters
	table#table-products_trends.table.m-0(style='width: 100%')
		thead
			tr
				th.text-center.border-bottom-0
					strong Products
				th.text-center(colspan='2')
					div
						strong Week 1 2018
					small 08-Apr - 14 Apr
				th.text-center(colspan='2')
					div
						strong Week 2 2018
					small 15-Apr - 21 Apr
				th.text-center(colspan='2')
					div
						strong Week 3 2018
					small 22-Apr - 28 Apr
				th.text-center(colspan='2')
					div
						strong Week 4 2018
					small 29-Apr - 05 May
				th.text-center(colspan='2')
					div
						strong Week 5 2018
					small 06-May - 12 May
				th.text-center(colspan='2')
					div
						strong Week 6 2018
					small 13-May - 19 May
				th.text-center(colspan='2')
					div
						strong Current Week
					small 20-May - 26 May
			tr
				th.border-top-0
					select.custom-select.form-control
						option(selected='') SKU
						option(value='1') ASIN
						option(value='2') Model
						option(value='2') Part
				th.text-right Sales($)
				th.text-center Units
				th.text-right Sales($)
				th.text-center Units
				th.text-right Sales($)
				th.text-center Units
				th.text-right Sales($)
				th.text-center Units
				th.text-right Sales($)
				th.text-center Units
				th.text-right Sales($)
				th.text-center Units
				th.text-right Sales($)
				th.text-center Units
			tr.total
				th.text-center Total
				th.text-right 4593.00
				th.text-center 137.00
				th.text-right 4606.00
				th.text-center 144
				th.text-right 5136.00
				th.text-center 143.00
				th.text-right 5120.00
				th.text-center 150
				th.text-right 5806.00
				th.text-center 151.00
				th.text-right 5059.00
				th.text-center 144
				th.text-right 5179.00
				th.text-center 150
		tbody
			tr
				td.text-center
					div B018E65WW2
					.text-center Vs
					div Prior Yr / ASP
				td
					.py-2.border-bottom.text-right 2,295.00
					.py-2.text-right.text-danger 12%
				td
					.py-2.border-bottom.text-center 68
					.py-2.text-center $110.00
				td
					.py-2.border-bottom.text-right 2,301.00
					.py-2.text-right.text-success 13%
				td
					.py-2.border-bottom.text-center 69
					.py-2.text-center $115.00
				td
					.py-2.border-bottom.text-right 2,356.00
					.py-2.text-right.text-success 17%
				td
					.py-2.border-bottom.text-center 73
					.py-2.text-center $120.00
				td
					.py-2.border-bottom.text-right 2,318.00
					.py-2.text-right.text-danger 15%
				td
					.py-2.border-bottom.text-center 70
					.py-2.text-center $125.00
				td
					.py-2.border-bottom.text-right 2,372.00
					.py-2.text-right.text-success 19%
				td
					.py-2.border-bottom.text-center 76
					.py-2.text-center $130.00
				td
					.py-2.border-bottom.text-right 2,358.00
					.py-2.text-right.text-danger 17%
				td
					.py-2.border-bottom.text-center 74
					.py-2.text-center $130.00
				td
					.py-2.border-bottom.text-right 2,380.00
					.py-2.text-right.text-success 20%
				td
					.py-2.border-bottom.text-center 70
					.py-2.text-center $130.00
			tr
				td.text-center
					div B01BON4QAQ
					.text-center Vs
					div Prior Yr / ASP
				td
					.py-2.border-bottom.text-right 2,298.00
					.py-2.text-right.text-danger 12%
				td
					.py-2.border-bottom.text-center 69
					.py-2.text-center $150.00
				td
					.py-2.border-bottom.text-right 2,305.00
					.py-2.text-right.text-success 14%
				td
					.py-2.border-bottom.text-center 75
					.py-2.text-center $120.00
				td
					.py-2.border-bottom.text-right 2,780.00
					.py-2.text-right.text-success 23%
				td
					.py-2.border-bottom.text-center 70
					.py-2.text-center $130.00
				td
					.py-2.border-bottom.text-right 2,802.00
					.py-2.text-right.text-success 26%
				td
					.py-2.border-bottom.text-center 80
					.py-2.text-center $140.00
				td
					.py-2.border-bottom.text-right 2,714.00
					.py-2.text-right.text-danger 20%
				td
					.py-2.border-bottom.text-center 75
					.py-2.text-center $135.00
				td
					.py-2.border-bottom.text-right 2,701.00
					.py-2.text-right.text-danger 19%
				td
					.py-2.border-bottom.text-center 70
					.py-2.text-center $125.00
				td
					.py-2.border-bottom.text-right 2,799.00
					.py-2.text-right.text-success 25%
				td
					.py-2.border-bottom.text-center 80
					.py-2.text-center $140.00
