block content
	include trends-filters
	table#table-products_trends.table.m-0(style='width: 100%')
		thead
			tr
				th.border-bottom-0
					strong Products
				th(colspan='2')
					div
						strong Week 1 2018
					small 08-Apr - 14 Apr
				th(colspan='2')
					div
						strong Week 2 2018
					small 15-Apr - 21 Apr
				th(colspan='2')
					div
						strong Week 3 2018
					small 22-Apr - 28 Apr
				th(colspan='2')
					div
						strong Week 4 2018
					small 29-Apr - 05 May
				th(colspan='2')
					div
						strong Week 5 2018
					small 06-May - 12 May
				th(colspan='2')
					div
						strong Week 6 2018
					small 13-May - 19 May
				th(colspan='2')
					div
						strong Current Week
					small 20-May - 26 May
			tr
				th.border-top-0
					select.custom-select.form-control
						option(selected='') SKU
						option(value='1') ASIN
						option(value='2') Model
						option(value='2') Part
				th.cell-amount Sales($)
				th Units
				th.cell-amount Sales($)
				th Units
				th.cell-amount Sales($)
				th Units
				th.cell-amount Sales($)
				th Units
				th.cell-amount Sales($)
				th Units
				th.cell-amount Sales($)
				th Units
				th.cell-amount Sales($)
				th Units
			tr.total
				th Total
				th.cell-amount 4593.00
				th 137
				th.cell-amount 4606.00
				th 144
				th.cell-amount 5136.00
				th 143
				th.cell-amount 5120.00
				th 150
				th.cell-amount 5806.00
				th 151
				th.cell-amount 5059.00
				th 144
				th.cell-amount 5179.00
				th 150
		tbody
			tr
				td.text-highlight
					div B018E65WW2
					.text-center Vs
					div Prior Yr / ASP
				td
					.py-2.border-bottom.cell-amount 2,295.00
					.py-2.cell-amount.text-danger 12%
				td
					.py-2.border-bottom 68
					.py-2 $110.00
				td
					.py-2.border-bottom.cell-amount 2,301.00
					.py-2.text-success 13%
				td
					.py-2.border-bottom 69
					.py-2.cell-amount $115.00
				td
					.py-2.border-bottom.cell-amount 2,356.00
					.py-2.cell-amount.text-success 17%
				td
					.py-2.border-bottom 73
					.py-2.cell-amount $120.00
				td
					.py-2.border-bottom.cell-amount 2,318.00
					.py-2.cell-amount.text-danger 15%
				td
					.py-2.border-bottom 70
					.py-2.cell-amount $125.00
				td
					.py-2.border-bottom.cell-amount 2,372.00
					.py-2.cell-amount.text-success 19%
				td
					.py-2.border-bottom 76
					.py-2.cell-amount $130.00
				td
					.py-2.border-bottom.cell-amount 2,358.00
					.py-2.cell-amount.text-danger 17%
				td
					.py-2.border-bottom 74
					.py-2 $130.00
				td
					.py-2.border-bottom.cell-amount 2,380.00
					.py-2.cell-amount.text-success 20%
				td
					.py-2.border-bottom 70
					.py-2.cell-amount $130.00
			tr
				td.text-highlight
					div B01BON4QAQ
					.text-center Vs
					div Prior Yr / ASP
				td
					.py-2.border-bottom.cell-amount 2,298.00
					.py-2.cell-amount.text-danger 12%
				td
					.py-2.border-bottom 69
					.py-2.cell-amount $150.00
				td
					.py-2.border-bottom.cell-amount 2,305.00
					.py-2.cell-amount.text-success 14%
				td
					.py-2.border-bottom 75
					.py-2.cell-amount $120.00
				td
					.py-2.border-bottom.cell-amount 2,780.00
					.py-2.cell-amount.text-success 23%
				td
					.py-2.border-bottom 70
					.py-2.cell-amount $130.00
				td
					.py-2.border-bottom.cell-amount 2,802.00
					.py-2.cell-amount.text-success 26%
				td
					.py-2.border-bottom 80
					.py-2.cell-amount $140.00
				td
					.py-2.border-bottom.cell-amount 2,714.00
					.py-2.cell-amount.text-danger 20%
				td
					.py-2.border-bottom 75
					.py-2.cell-amount $135.00
				td
					.py-2.border-bottom.cell-amount 2,701.00
					.py-2.cell-amount.text-danger 19%
				td
					.py-2.border-bottom 70
					.py-2.cell-amount $125.00
				td
					.py-2.border-bottom.cell-amount 2,799.00
					.py-2.cell-amount.text-success 25%
				td
					.py-2.border-bottom 80
					.py-2.cell-amount $140.00
