block content
	table#table-customers_trends.table.m-0(style='width: 100%')
		thead
			tr
				th.text-center(rowspan='2')
					strong Customers
				th.text-center(colspan='3')
					div
						strong Week 1 2018
					small 08-Apr - 14 Apr
				th.text-center(colspan='3')
					div
						strong Week 2 2018
					small 15-Apr - 21 Apr
				th.text-center(colspan='3')
					div
						strong Week 3 2018
					small 22-Apr - 28 Apr
				th.text-center(colspan='3')
					div
						strong Week 4 2018
					small 29-Apr - 05 May
				th.text-center(colspan='3')
					div
						strong Week 5 2018
					small 06-May - 12 May
				th.text-center(colspan='3')
					div
						strong Week 6 2018
					small 13-May - 19 May
				th.text-center(colspan='3')
					div
						strong Current Week
					small 20-May - 26 May
			tr
				th.text-right #Customers
				th.text-right Sales($)
				th.text-center Units
				th.text-right #Customers
				th.text-right Sales($)
				th.text-center Units
				th.text-right #Customers
				th.text-right Sales($)
				th.text-center Units
				th.text-right #Customers
				th.text-right Sales($)
				th.text-center Units
				th.text-right #Customers
				th.text-right Sales($)
				th.text-center Units
				th.text-right #Customers
				th.text-right Sales($)
				th.text-center Units
				th.text-right #Customers
				th.text-right Sales($)
				th.text-center Units
		tbody
			tr
				td.text-nowrap # of Customers with 1 purchases
				td.text-right.text-success 52
				td.text-right 1644.55
				td.text-right 45
				td.text-right.text-danger 48
				td.text-right 1679.6
				td.text-right 40
				td.text-right.text-success 49
				td.text-right 1928.25
				td.text-right 45
				td.text-right.text-danger 44
				td.text-right 2311.65
				td.text-right 55
				td.text-right.text-success 46
				td.text-right 2199.5
				td.text-right 50
				td.text-right.text-danger 45
				td.text-right 1937.25
				td.text-right 45
				td.text-right.text-success 49
				td.text-right 2111.52
				td.text-right 48
			tr
				td.text-nowrap # of Customers with 2-4 purchases
				td.text-right.text-success 41
				td.text-right 1900.6
				td.text-right 52
				td.text-right.text-success 44
				td.text-right 2183.48
				td.text-right 52
				td.text-right.text-success 46
				td.text-right 2399.66
				td.text-right 56
				td.text-right.text-success 49
				td.text-right 2521.08
				td.text-right 60
				td.text-right.text-success 51
				td.text-right 2331.47
				td.text-right 53
				td.text-right.text-danger 50
				td.text-right 1808.1
				td.text-right 42
				td.text-right.text-success 52
				td.text-right 2287.48
				td.text-right 52
			tr
				td.text-nowrap # of Customers with 5 purchases
				td.text-right.text-success 23
				td.text-right 1498.55
				td.text-right 41
				td.text-right.text-success 28
				td.text-right 1805.57
				td.text-right 43
				td.text-right.text-success 31
				td.text-right 2228.2
				td.text-right 52
				td.text-right.text-danger 42
				td.text-right 2185.56
				td.text-right 52
				td.text-right.text-success 48
				td.text-right 1979.55
				td.text-right 45
				td.text-right.text-success 50
				td.text-right 1506.75
				td.text-right 35
				td.text-right.text-danger 47
				td.text-right 2331.47
				td.text-right 53

	p.lead.px-3 New Customers (first purchase in trailing 12 months)
	table#table-customers_trends_new.table.m-0(style='width: 100%')
		thead
			tr
				th.text-center(rowspan='2')
					strong Customers
				th.text-center(colspan='3')
					div
						strong Week 1 2018
					div 08-Apr
				th.text-center(colspan='3')
					div
						strong Week 2 2018
					div 15-Apr
				th.text-center(colspan='3')
					div
						strong Week 3 2018
					div 22-Apr
				th.text-center(colspan='3')
					div
						strong Week 4 2018
					div 29-Apr
				th.text-center(colspan='3')
					div
						strong Week 5 2018
					div 06-May
				th.text-center(colspan='3')
					div
						strong Week 6 2018
					div 13-May
				th.text-center(colspan='3')
					div
						strong Current Week
					div 20-May
			tr
				th.text-right #Customers
				th.text-right Sales($)
				th.text-center Units
				th.text-right #Customers
				th.text-right Sales($)
				th.text-center Units
				th.text-right #Customers
				th.text-right Sales($)
				th.text-center Units
				th.text-right #Customers
				th.text-right Sales($)
				th.text-center Units
				th.text-right #Customers
				th.text-right Sales($)
				th.text-center Units
				th.text-right #Customers
				th.text-right Sales($)
				th.text-center Units
				th.text-right #Customers
				th.text-right Sales($)
				th.text-center Units
		tbody
			tr
				td.text-nowrap # of Customers with 1 purchases
				td.text-right.text-success 17
				td.text-right 548.25
				td.text-right 15
				td.text-right.text-danger 16
				td.text-right 545.87
				td.text-right 13
				td.text-right.text-danger 16
				td.text-right 642.75
				td.text-right 15
				td.text-right.text-danger 14
				td.text-right 756.54
				td.text-right 18
				td.text-right.text-success 15
				td.text-right 703.84
				td.text-right 16
				td.text-right.text-success 15
				td.text-right 645.75
				td.text-right 15
				td.text-right.text-success 16
				td.text-right 703.84
				td.text-right 16
			tr
				td.text-nowrap # of Customers with 2-4 purchases
				td.text-right.text-success 13
				td.text-right 621.35
				td.text-right 17
				td.text-right.text-success 14
				td.text-right 713.83
				td.text-right 17
				td.text-right.text-success 15
				td.text-right 771.3
				td.text-right 18
				td.text-right.text-success 16
				td.text-right 840.06
				td.text-right 20
				td.text-right.text-success 17
				td.text-right 747.83
				td.text-right 17
				td.text-right.text-danger 16
				td.text-right 602.7
				td.text-right 14
				td.text-right.text-success 17
				td.text-right 747.83
				td.text-right 17
			tr
				td.text-nowrap # of Customers with 5 purchases
				td.text-right.text-success 7
				td.text-right 475.15
				td.text-right 13
				td.text-right.text-success 9
				td.text-right 587.86
				td.text-right 14
				td.text-right.text-success 10
				td.text-right 728.45
				td.text-right 17
				td.text-right.text-danger 9
				td.text-right 714.51
				td.text-right 17
				td.text-right.text-success 16
				td.text-right 659.85
				td.text-right 15
				td.text-right.text-danger 16
				td.text-right 473.55
				td.text-right 11
				td.text-right.text-danger 15
				td.text-right 747.83
				td.text-right 17

	p.lead.px-3 Repeat Customers (1 purchase in trailing 12 months)
	table#table-customers_trends_repeat.table.m-0(style='width: 100%')
		thead
			tr
				th.text-center(rowspan='2')
					strong Customers
				th.text-center(colspan='3')
					div
						strong Week 1 2018
					div 08-Apr
				th.text-center(colspan='3')
					div
						strong Week 2 2018
					div 15-Apr
				th.text-center(colspan='3')
					div
						strong Week 3 2018
					div 22-Apr
				th.text-center(colspan='3')
					div
						strong Week 4 2018
					div 29-Apr
				th.text-center(colspan='3')
					div
						strong Week 5 2018
					div 06-May
				th.text-center(colspan='3')
					div
						strong Week 6 2018
					div 13-May
				th.text-center(colspan='3')
					div
						strong Current Week
					div 20-May
			tr
				th.text-right #Customers
				th.text-right Sales($)
				th.text-center Units
				th.text-right #Customers
				th.text-right Sales($)
				th.text-center Units
				th.text-right #Customers
				th.text-right Sales($)
				th.text-center Units
				th.text-right #Customers
				th.text-right Sales($)
				th.text-center Units
				th.text-right #Customers
				th.text-right Sales($)
				th.text-center Units
				th.text-right #Customers
				th.text-right Sales($)
				th.text-center Units
				th.text-right #Customers
				th.text-right Sales($)
				th.text-center Units
		tbody
			tr
				td.text-nowrap # of Customers with 1 purchases
				td.text-right.text-success 35
				td.text-right 1096.5
				td.text-right 30
				td.text-right.text-danger 32
				td.text-right 1133.73
				td.text-right 27
				td.text-right.text-success 33
				td.text-right 1285.5
				td.text-right 30
				td.text-right.text-danger 28
				td.text-right 1555.11
				td.text-right 37
				td.text-right.text-success 31
				td.text-right 1495.66
				td.text-right 34
				td.text-right.text-danger 30
				td.text-right 1291.5
				td.text-right 30
				td.text-right.text-success 33
				td.text-right 1407.68
				td.text-right 32
			tr
				td.text-nowrap # of Customers with 2-4 purchases
				td.text-right.text-success 28
				td.text-right 1297.25
				td.text-right 35
				td.text-right.text-success 30
				td.text-right 1469.65
				td.text-right 35
				td.text-right.text-success 31
				td.text-right 1628.3
				td.text-right 38
				td.text-right.text-success 33
				td.text-right 1681.2
				td.text-right 40
				td.text-right.text-success 34
				td.text-right 1583.64
				td.text-right 36
				td.text-right.text-success 34
				td.text-right 1205.4
				td.text-right 28
				td.text-right.text-success 35
				td.text-right 1539.65
				td.text-right 35
			tr
				td.text-nowrap # of Customers with 5 purchases
				td.text-right.text-success 16
				td.text-right 1023.4
				td.text-right 28
				td.text-right.text-success 19
				td.text-right 1217.71
				td.text-right 29
				td.text-right.text-success 21
				td.text-right 1499.75
				td.text-right 35
				td.text-right.text-success 33
				td.text-right 1471.05
				td.text-right 35
				td.text-right.text-success 32
				td.text-right 1319.7
				td.text-right 30
				td.text-right.text-success 34
				td.text-right 1033.2
				td.text-right 24
				td.text-right.text-danger 32
				td.text-right 1583.64
				td.text-right 36
