table.DTFC_Cloned tr {
  background-color: white;
  margin-bottom: 0;
}

div.DTFC_LeftHeadWrapper table,
div.DTFC_RightHeadWrapper table {
  border-bottom: none !important;
  margin-bottom: 0 !important;
  background-color: white;
}

div.DTFC_LeftBodyWrapper table,
div.DTFC_RightBodyWrapper table {
  border-top: none;
  margin: 0 !important;
}

div.DTFC_LeftBodyWrapper table thead .sorting:after,
div.DTFC_LeftBodyWrapper table thead .sorting:after,
div.DTFC_LeftBodyWrapper table thead .sorting_asc:after,
div.DTFC_LeftBodyWrapper table thead .sorting_asc:after,
div.DTFC_LeftBodyWrapper table thead .sorting_desc:after,
div.DTFC_LeftBodyWrapper table thead .sorting_desc:after,
div.DTFC_RightBodyWrapper table thead .sorting:after,
div.DTFC_RightBodyWrapper table thead .sorting:after,
div.DTFC_RightBodyWrapper table thead .sorting_asc:after,
div.DTFC_RightBodyWrapper table thead .sorting_asc:after,
div.DTFC_RightBodyWrapper table thead .sorting_desc:after,
div.DTFC_RightBodyWrapper table thead .sorting_desc:after {
  display: none;
}

div.DTFC_LeftBodyWrapper table tbody tr:first-child td,
div.DTFC_LeftBodyWrapper table tbody tr:first-child th,
div.DTFC_RightBodyWrapper table tbody tr:first-child td,
div.DTFC_RightBodyWrapper table tbody tr:first-child th {
  border-top: none;
}

div.DTFC_LeftFootWrapper table,
div.DTFC_RightFootWrapper table {
  border-top: none;
  margin-top: 0 !important;
  background-color: white;
}

div.DTFC_Blocker {
  background-color: white;
}

table.dataTable.table-striped.DTFC_Cloned tbody {
  background-color: white;
}

.table {
  thead {
    th[class*='sorting'] {
      padding-right: 1.5em;
      background-image: none !important;
      position: relative;
      @extend .icon-sort;

      &:before {
        color: $gray-500;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0.25em;
        display: block;
        font-family: icomoon;
      }

      &.sorting_asc {
        @extend .icon-sort-asc;

        &:before {
          color: $blue;
        }
      }

      &.sorting_desc {
        @extend .icon-sort-desc;

        &:before {
          color: $blue;
        }
      }
    }
  }
}

.dataTables_scrollBody {
  thead {
    visibility: hidden;
  }
}

.dataTables_bottom {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .dataTables_length {
    label {
      margin-bottom: 0;
    }

    .form-control {
      width: auto;
      display: inline-block;
    }
  }
}
